{% extends "_ePlusAccount_layout/2-ePlusAccount-Layout.html" %}


{# 填写页面 title #}
{% block title %}E+大账户{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
</style>
{% endblock %}


{# 渲染系统导航 #}
{% block SystemNav %}


  {# 渲染系统顶部导航 #}
  {{ systemNavigator.systemTopNav(pl,stnBtns,topNavThemesList,userMenu,username='rayalienkiss',productName='E+大账户') }}

  {# 渲染系统侧导航 #}
  {{ systemNavigator.systemAside(lv1,lv1cur='2',lv2cur='1',lv3cur='0') }}

  {# 渲染系统附加导航 #}
  {{ systemNavigator.systemAssistNav(assistNav) }}


{% endblock %}


{# 加载页面内容 #}
{% block content %}

<!-- 路径导航 -->
{{
  breadcrumb.default(
    list = [
      {link: 'ePlusAccount-账户功能管理-账户功能列表.html', text:'账户功能管理'},
      {text: '账户功能列表'}
    ],
    fixedClass='fn-pa-15 default-border-b'
  )
}}

<!-- 表格 -->
<div class="table-wrap">
  <table class="table">
    <colgroup>
      <col style="width: 70px">
      <col>
      <col style="width: 100px">
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col style="width: 100px"> </colgroup>
    <thead>
      <tr>
        <th>账户功能ID</th>
        <th>功能类型</th>
        <th>账户功能名称</th>
        <th>账户功能简介</th>
        <th>包含字段数量</th>
        <th>创建时间</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          032
        </td>
        <td colspan="5">关系人管理接口</td>
        <td>删除关系人</td>
        <td>如填写则显示，未填写则为空</td>
        <td>10</td>
        <td>2016-08-08 12:00:00</td>
        <td> <span class="amount add">3,252.00</span> </td>
        <td> <span class="amount take">288.00</span> </td>
        <td class="text-align-left">
          <div class="btn-group-box smaller-btn-gb"> <button type="button" class="btn default">详情</button> <button type="button" class="btn default dropdown-menu-btn"></button> </div>
        </td>
      </tr>
      <tr>
        <td> <input type="checkbox"> </td>
        <td> <span class="text-nowrap">
                      2015-05-25
                    </span> <span class="text-nowrap fontcolor-vice">
                      10:25:36
                    </span> </td>
        <td> 交易 </td>
        <td> Item TWO </td>
        <td> TJZT201505200025 </td>
        <td> jingdong </td>
        <td> <span class="amount">158,026.00</span> </td>
        <td> <span class="amount add">3,252.00</span> </td>
        <td> <span class="amount take">288.00</span> </td>
        <td class="text-align-left">
          <div class="btn-group-box smaller-btn-gb"> <button type="button" class="btn default">详情</button> <button type="button" class="btn default dropdown-menu-btn"></button> </div>
        </td>
      </tr>
      <tr>
        <td> <input type="checkbox"> </td>
        <td> <span class="text-nowrap">
                      2015-05-25
                    </span> <span class="text-nowrap fontcolor-vice">
                      10:25:36
                    </span> </td>
        <td> 交易 </td>
        <td> Item ONE </td>
        <td> TJZT201501548025 </td>
        <td> liang1126 </td>
        <td> <span class="amount">158,026.00</span> </td>
        <td> <span class="amount add">3,252.00</span> </td>
        <td> <span class="amount take">288.00</span> </td>
        <td class="text-align-left">
          <div class="btn-group-box smaller-btn-gb"> <button type="button" class="btn default">详情</button> <button type="button" class="btn default dropdown-menu-btn"></button> </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}


{# 加载弹窗内容 #}
{% block modal %}
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
<script>
</script>
{% endblock %}
