{% extends "_system_layout/1-system-Base.html" %}


{# 填写页面 title #}
{% block title %}OAS大账户{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
<link rel="stylesheet" href="{{ static }}/css/BrickPlus.css?v={{ version }}">
<link rel="stylesheet" href="{{ static }}/js/perfect-scrollbar/css/perfect-scrollbar.min.css">
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
</style>
{% endblock %}





{# 加载页面内容 #}
{% block body %}
<div class="error-wrap">
  <div class="error-img"><img src={{static}}/images/404/404_1.png></div>
  <div class="error-content">
    <h1 class="fn-mb-15 fontcolor-info">错误！</h1>
    <div class="lh-24">
      浏览器无法访问cookie，请不要禁止。 <br>
      <a href="###" class="fontcolor-link">如何解除浏览器禁止cookie</a>
    </div>
    <button type="button" class="btn primary small-btn fn-mt-20">返回首页</button>
  </div>
</div>
<div class="error-wrap">
  <div class="error-img"><img src={{static}}/images/404/404_1.png></div>
  <div class="error-content">
    <h1 class="fn-mb-15 fontcolor-info">错误！</h1>
    <div class="lh-24">
      我把信息弄丢了 <br> <br>
      打小报告 <br>
      <b>400-106-6698</b>
    </div>
    <button type="button" class="btn primary small-btn fn-mt-20">返回首页</button>
  </div>
</div>
<div class="error-wrap">
  <div class="error-img"><img src={{static}}/images/404/404_1.png></div>
  <div class="error-content">
    <h1 class="fn-mb-15 fontcolor-info">错误！</h1>
    <div class="lh-24">
      您的信息提交未成功， <br>请尝试关闭浏览器，重新打开信息提交页面，填写并及时提交您的身份信息
    </div>
    <button type="button" class="btn primary small-btn fn-mt-20">返回首页</button>
  </div>
</div>
<div class="error-wrap">
  <div class="error-img"><img src={{static}}/images/404/404_1.png></div>
  <div class="error-content">
    <h1 class="fn-mb-15 fontcolor-info">页面超时！</h1>
    <div class="lh-24">
      页面超时，为保障您的资金安全，请重新打开页面。
    </div>
    <button type="button" class="btn primary small-btn fn-mt-20">返回首页</button>
  </div>
</div>


{% endblock %}


{# 加载弹窗内容 #}
{% block modal %}
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
{% endblock %}
