{% extends "_system_layout/2-system-Layout.html" %}


{# 填写页面 title #}
{% block title %}OAS大账户{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
</style>
{% endblock %}


{# 渲染系统导航 #}
{% block SystemNav %}


  {# 渲染系统顶部导航 #}
  {{ systemNavigator.systemTopNav(pl,stnBtns,topNavThemesList,userMenu,username='rayalienkiss',productName='OAS大账户') }}

  {# 渲染系统侧导航 #}
  {{ systemNavigator.systemAside(lv1,lv1cur='3',lv2cur='1') }}

  {# 渲染系统附加导航 #}
  {{ systemNavigator.systemAssistNav(assistNav) }}


{% endblock %}


{# 加载页面内容 #}
{% block content %}

<!-- 路径导航 -->
{# 渲染路径导航UI #}
{{
  breadcrumb.default(
    list = [
      {link: '服务管理-服务列表.html', text:'服务管理'},
      {link: '服务管理-服务列表.html', text:'服务列表'},
      {text: '账户功能'}
    ],
    fixedClass='fn-pa-15 default-border-b'
  )
}}

{# 修正整体内容的内边距盒子，不需要定制化样式，根据设计需要随时变 #}
<div class="fn-pa-20">
  <!-- 表单 -->
  <form action="服务管理-服务列表.html">
    <div class="panel">
      <div class="panel-heading">
        <h1 class="panel-title">账户功能接口</h1>
      </div>
      <div class="panel-body">
        <!-- 服务管理接口 -->
        <div class="table-wrap fn-mb-20">
          <table class="table table-bordered-type2">
            <colgroup>
              <col style="width: 50%;">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th colspan="2">
                  <label class="table-checked-all">
                    <input type="checkbox" data-toggle="checkAll" data-target="#checkall-1 :checkbox">
                    <h4>服务管理接口</h4>
                  </label>
                </th>
              </tr>
            </thead>
            <tbody id="checkall-1">
              <tr>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">查询接入渠道<br>
                  </label>
                </td>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">查询渠道企业信息<br>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">统一对外接口<br>
                  </label>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- 用户信息管理接口 -->
        <div class="table-wrap fn-mb-20">
          <table class="table table-bordered-type2">
            <colgroup>
              <col style="width: 50%;">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th colspan="2">
                  <label class="table-checked-all">
                    <input type="checkbox" data-toggle="checkAll" data-target="#checkall-2 :checkbox">
                    <h4>用户信息管理接口</h4>
                  </label>
                </th>
              </tr>
            </thead>
            <tbody id="checkall-2">
              <tr>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">开通服务<br>
                  </label>
                </td>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">提交用户信息<br>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">删除用户信息<br>
                  </label>
                </td>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">查询用户信息<br>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="table-checked-withtext check-disabled">
                    <input type="checkbox" disabled>修改用户信息<br>
                  </label>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--  核身认证接口 -->
        <div class="table-wrap fn-mb-20">
          <table class="table table-bordered-type2">
            <colgroup>
              <col style="width: 50%;">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th colspan="2">
                  <label class="table-checked-all">
                    <input type="checkbox" data-toggle="checkAll" data-target="#checkall-3 :checkbox">
                    <h4>核身认证接口</h4>
                  </label>
                </th>
              </tr>
            </thead>
            <tbody id="checkall-3">
              <tr>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">查询核身认证结果<br>
                  </label>
                </td>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">执行身份认证<br>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">执行个人银行卡认证<br>
                  </label>
                </td>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">执行绑定手机<br>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">执行人脸认证<br>
                  </label>
                </td>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">执行企业小额付款认证（网关）<br>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">执行企业小额付款认证（线下）<br>
                  </label>
                </td>
                <td>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--  安全信息管理接口 -->
        <div class="table-wrap fn-mb-20">
          <table class="table table-bordered-type2">
            <colgroup>
              <col style="width: 50%;">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th colspan="2">
                  <label class="table-checked-all">
                    <input type="checkbox" data-toggle="checkAll" data-target="#checkall-4 :checkbox">
                    <h4>安全信息管理接口</h4>
                  </label>
                </th>
              </tr>
            </thead>
            <tbody id="checkall-4">
              <tr>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">修改登录密码<br>
                  </label>
                </td>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">校验登录密码<br>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">重置登录密码<br>
                  </label>
                </td>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">设置/重置支付密码<br>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">修改支付密码<br>
                  </label>
                </td>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">校验支付密码<br>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--  安全信息管理接口 -->
        <div class="table-wrap fn-mb-20">
          <table class="table table-bordered-type2">
            <colgroup>
              <col style="width: 50%;">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th colspan="2">
                  <label class="table-checked-all">
                    <input type="checkbox" data-toggle="checkAll" data-target="#checkall-5 :checkbox">
                    <h4>关系人管理接口</h4>
                  </label>
                </th>
              </tr>
            </thead>
            <tbody id="checkall-5">
              <tr>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">提交关系人信息<br>
                  </label>
                </td>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">修改关系人信息<br>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">查询关系人信息<br>
                  </label>
                </td>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">查询关联账户<br>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="table-checked-withtext">
                    <input type="checkbox">删除关系人<br>
                  </label>
                </td>
                <td>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel-footer">
        <!-- 按钮 -->
        <div class="plural-btns">
          <button type="submit" class="btn primary">保存</button>
          <a href="服务管理-服务列表.html" class="btn links">取消</a>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}


{# 加载弹窗内容 #}
{% block modal %}
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
<script>
</script>
{% endblock %}
