{% extends "_system_layout/2-system-Layout.html" %}


{# 填写页面 title #}
{% block title %}OAS大账户{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
</style>
{% endblock %}


{# 渲染系统导航 #}
{% block SystemNav %}


  {# 渲染系统顶部导航 #}
  {{ systemNavigator.systemTopNav(pl,stnBtns,topNavThemesList,userMenu,username='rayalienkiss',productName='OAS大账户') }}

  {# 渲染系统侧导航 #}
  {{ systemNavigator.systemAside(lv1,lv1cur='4',lv2cur='1') }}

  {# 渲染系统附加导航 #}
  {{ systemNavigator.systemAssistNav(assistNav) }}


{% endblock %}


{# 加载页面内容 #}
{% block content %}

<!-- 路径导航 -->
{# 渲染路径导航UI #}
{{
  breadcrumb.default(
    list = [
      {link: '渠道管理-渠道列表.html', text:'渠道管理'},
      {link: '渠道管理-渠道列表.html', text:'渠道列表'},
      {text: '查看'}
    ],
    fixedClass='fn-pa-15 default-border-b'
  )
}}

{# 修正整体内容的内边距盒子，不需要定制化样式，根据设计需要随时变 #}
<div class="fn-pa-20">
  <div class="panel">
    <div class="panel-heading">
      <h1 class="panel-title">
        渠道名称XXXX
      </h1>
    </div>
    <div class="panel-body">
      <!-- 基础信息 -->
      <table class="table table-bordered-type3 table-align-type2 fn-mb-20">
        <colgroup>
          <col width="150px">
          <col>
          <col width="150px">
          <col>
        </colgroup>
        <thead>
          <tr>
            <th colspan="4">
              <h4 class="text-align-left">基础信息</h4>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>渠道编号</th>
            <td>D888</td>
            <th>渠道名称</th>
            <td>哎呀有钱宝</td>
          </tr>
          <tr>
            <th>企业名称</th>
            <td>哎呀有钱股份有限公司</td>
            <th>企业法人</th>
            <td>蔡蔓</td>
          </tr>
          <tr>
            <th>法人身份证号</th>
            <td>450000000000000000</td>
            <th>联系人</th>
            <td>张琳琳</td>
          </tr>
          <tr>
            <th>联系手机号</th>
            <td>13800000000</td>
            <th>联系邮箱</th>
            <td>123@gmail.com</td>
          </tr>
          <tr>
            <th>所在省份</th>
            <td>广东省</td>
            <th>所在地市</th>
            <td>广州市</td>
          </tr>
          <tr>
            <th>证件类型</td>
            <td colspan="3">普通营业执照</td>
          </tr>
          <tr>
            <th>营业执照注册号</td>
            <td colspan="3">654236765365324373</td>
          </tr>
          <tr>
            <th>营业执照扫描件</td>
            <td colspan="3">
                <a href="#" target="_blank" class="link-standard">
                  <img src="#" alt="" style="border:none;outline:none;display:inline-block;height:50px;vertical-align:middle">
                </a>
            </td>
          </tr>
          <tr>
            <th>营业执照有效期</td>
            <td colspan="3">2010-07-08 至 2020-07-07</td>
          </tr>
          <tr>
            <th>组织机构代码证</td>
            <td colspan="3">654236765365324373</td>
          </tr>
          <tr>
            <th>组织机构代码证扫描件</td>
            <td colspan="3">
                <a href="#" target="_blank" class="link-standard">
                  <img src="#" alt="" style="border:none;outline:none;display:inline-block;height:50px;vertical-align:middle">
                </a>
            </td>
          </tr>
          <tr>
            <th>税务登记证编号</td>
            <td colspan="3">654236765365324373</td>
          </tr>
          <tr>
            <th>税务登记证扫描件</td>
            <td colspan="3">
                <a href="#" target="_blank" class="link-standard">
                  <img src="#" alt="" style="border:none;outline:none;display:inline-block;height:50px;vertical-align:middle">
                </a>
            </td>
          </tr>
          <tr>
            <th>渠道类型</td>
            <td colspan="3">第三方开发渠道</td>
          </tr>
        </tbody>
      </table>
      <!-- 接入方式 -->
      <table class="table table-bordered-type3 table-align-type2 fn-mb-20">
        <colgroup>
          <col width="150px">
          <col>
          <col width="150px">
          <col>
        </colgroup>
        <thead>
          <tr>
            <th colspan="4">
              <h4 class="text-align-left">接入方式</h4>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>接入方式</th>
            <td>WEB页面</td>
            <th>渠道名称</th>
            <td>哎呀有钱宝</td>
          </tr>
          <tr>
            <th>跳转页面URL</td>
            <td colspan="3">http://sd.china.com.cn/a/2016/xjoe_0901/686881.html</td>
          </tr>
          <tr>
            <th>服务器接口URL</td>
            <td colspan="3">http://sd.china.com.cn/a/2016/xjoe_0901/686881.html</td>
          </tr>
          <tr>
            <th>超时登录回调URL</td>
            <td colspan="3">http://sd.china.com.cn/a/2016/xjoe_0901/686881.html</td>
          </tr>
        </tbody>
      </table>
      <!-- 集成服务 -->
      <div class="table-wrap fn-mb-20">
        <table class="table table-bordered-type3 table-align-type2">
          <colgroup>
            <col width="150px">
            <col>
            <col width="150px">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th colspan="4">
                <h4 class="text-align-left">集成服务</h4>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>广东钱途互联商务服务有限公司供应</td>
              <td colspan="3">E+账户，融票，应收账融资，订单融资，车险分期融资</td>
            </tr>
            <tr>
              <th>号百信息服务有限公司供应</td>
              <td colspan="3">号码百事通</td>
            </tr>
            <tr>
              <th>美兰达科技有限公司供应</td>
              <td colspan="3">蝴蝶EIP系统</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer">
      <!-- 按钮 -->
      <div>
        <a href="渠道管理-渠道列表.html" class="btn primary">返回渠道列表</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{# 加载弹窗内容 #}
{% block modal %}
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
<script>
</script>
{% endblock %}
