{% extends "_system_layout/2-system-Layout.html" %}


{# 填写页面 title #}
{% block title %}OAS大账户{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
</style>
{% endblock %}


{# 渲染系统导航 #}
{% block SystemNav %}


  {# 渲染系统顶部导航 #}
  {{ systemNavigator.systemTopNav(pl,stnBtns,topNavThemesList,userMenu,username='rayalienkiss',productName='OAS大账户') }}

  {# 渲染系统侧导航 #}
  {{ systemNavigator.systemAside(lv1,lv1cur='4',lv2cur='1') }}

  {# 渲染系统附加导航 #}
  {{ systemNavigator.systemAssistNav(assistNav) }}


{% endblock %}


{# 加载页面内容 #}
{% block content %}

<!-- 路径导航 -->
{# 渲染路径导航UI #}
{{
  breadcrumb.default(
    list = [
      {link: '渠道管理-渠道列表.html', text:'渠道管理'},
      {link: '渠道管理-渠道列表.html', text:'渠道列表'},
      {text: '创建'}
    ],
    fixedClass='fn-pa-15 default-border-b'
  )
}}

{# 修正整体内容的内边距盒子，不需要定制化样式，根据设计需要随时变 #}
<div class="fn-pa-20">

  <!-- 步骤 -->
  {# 渲染步骤UI #}
  {{
    step.stepDefault(
      steps = [
        {text: '基础信息'},
        {text: '接入方式'},
        {text: '集成服务'},
        {text: '创建完成'}
      ],
      qty = 'four-steps',
      pass = 'pass1',
      size = 'small-steps'
    )
  }}

  <!-- 编辑基础信息 -->
  <div class="panel">
    <div class="panel-heading">
      <h1 class="panel-title">添加基础信息</h1>
    </div>
    <div class="panel-body">
      <form action="渠道管理-渠道列表-创建第二步.html">
        <!-- 渠道编号 -->
        {# 渲染标准typeText输入框 #}
        {{
          form.typeTextDefault(
            label='渠道编号',
            formID='channelID',
            fixedClass='form-required fn-mb-10'
          )
        }}
        <!-- 渠道名称 -->
        {# 渲染标准typeText输入框 #}
        {{
          form.typeTextDefault(
            label='渠道名称',
            formID='channelName',
            fixedClass='form-required fn-mb-10'
          )
        }}
        <!-- 企业名称 -->
        {# 渲染标准typeText输入框 #}
        {{
          form.typeTextDefault(
            label='企业名称',
            formID='coName',
            fixedClass='form-required fn-mb-10'
          )
        }}
        <!-- 企业法人 -->
        {# 渲染标准typeText输入框 #}
        {{
          form.typeTextDefault(
            label='企业法人',
            formID='coPer',
            fixedClass='form-required fn-mb-10'
          )
        }}
        <!-- 法人身份证号 -->
        {# 渲染标准typeText输入框 #}
        {{
          form.typeTextDefault(
            label='法人身份证号',
            formID='coPerID',
            fixedClass='fn-mb-10'
          )
        }}
        <!-- 联系人 -->
        {# 渲染标准typeText输入框 #}
        {{
          form.typeTextDefault(
            label='联系人',
            formID='contactPer',
            fixedClass='fn-mb-10'
          )
        }}
        <!-- 联系手机号 -->
        {# 渲染标准typeText输入框 #}
        {{
          form.typeTextDefault(
            label='联系手机号',
            formID='contactTel',
            fixedClass='fn-mb-10'
          )
        }}
        <!-- 联系邮箱 -->
        {# 渲染标准typeText输入框 #}
        {{
          form.typeTextDefault(
            label='联系邮箱',
            formID='contactMail',
            fixedClass='fn-mb-10'
          )
        }}
        <!-- 所在省份 -->
        {# 渲染标准selectUI #}
        {{
          form.selectDefault(
            selectOptions = [
              {
                option: '请选择'
              },
              {
                option: '广东省'
              }
            ],
            label='所在省份',
            formID='prov',
            fixedClass='form-required fn-mb-10'
          )
        }}
        <!-- 所在城市 -->
        {# 渲染标准selectUI #}
        {{
          form.selectDefault(
            selectOptions = [
              {
                option: '请选择'
              },
              {
                option: '广州'
              }
            ],
            label='所在城市',
            formID='city',
            fixedClass='form-required fn-mb-10'
          )
        }}
        <!-- 渠道类型 -->
        {# 渲染标准selectUI #}
        {{
          form.selectDefault(
            selectOptions = [
              {
                option: '请选择'
              },
              {
                option: '自有开发渠道'
              }
            ],
            label='渠道类型',
            formID='channelType',
            fixedClass='form-required fn-mb-10'
          )
        }}
        <!-- 证件类型 -->
        {# 渲染标准typeText输入框 #}
        {{
          form.crDefault(
            crOptions=[
              {
                radioText:'普通营业执照',
                name:'cerType',
                attr:"checked",
                labelAttr: 'id="branch1"'
              },
              {
                radioText:'社会信用证',
                name:'cerType',
                labelAttr: 'id="branch2"'
              },
              {
                radioText:'其他证件',
                name:'cerType',
                labelAttr: 'id="branch3"'
              }
            ],
            label='证件类型',
            fixedClass='form-required fn-mb-10'
          )
        }}
        <div id="formB1" style="display:block;">
          <!-- 营业执照注册号 -->
          {# 渲染标准typeText输入框 #}
          {{
            form.typeTextDefault(
              label='营业执照注册号',
              value='XXXXXXXXXXXXX',
              formID='blId',
              fixedClass='form-required fn-mb-10'
            )
          }}
          <!-- 营业执照扫描件 -->
          <div class="form-group form-required fn-mb-20">
            <label class="form-control-label">
              <span>营业执照扫描件</span>
            </label>
            <div class="form-control-wrap">
              <div class="plural-btns">
                <label for="blImg" class="uploader btn default">
                  <i class="icon-folder-upload fn-mr-10"></i>上传文件
                  <input type="file" id="blImg">
                </label>
              </div>
              <div class="form-tips">
                <ul class="ul-standard">
                  <li>请上传营业执照清晰彩色扫描件或数码照</li>
                  <li>在有效期内且年检章齐全（当年成立的企业可无年检章）</li>
                  <li>由中国大陆工商局或市场监督管理局颁发</li>
                  <li>支持jpg、jpeg、png、bmp、gif格式的图片，大小不超过2M</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- 营业执照有效期 -->
          {# 渲染标准typeText输入框 #}
          {{
            form.dateTodateDefault(
              label='营业执照有效期',
              formID='blExpDate',
              fixedClass='form-required fn-mb-10'
            )
          }}
          <!-- 组织机构代码证 -->
          {# 渲染标准typeText输入框 #}
          {{
            form.typeTextDefault(
              label='组织机构代码证',
              value='XXXXXXXXXXXXX',
              formID='glId',
              fixedClass='form-required fn-mb-10'
            )
          }}
          <!-- 组织机构代码证扫描件 -->
          <div class="form-group form-required fn-mb-20">
            <label class="form-control-label">
              <span>组织机构代码证扫描件</span>
            </label>
            <div class="form-control-wrap">
              <div class="plural-btns">
                <label for="glImg" class="uploader btn default">
                  <i class="icon-folder-upload fn-mr-10"></i>上传文件
                  <input type="file" id="glImg">
                </label>
              </div>
              <div class="form-tips">
                <ul class="ul-standard">
                  <li>请上传组织机构代码证清晰彩色扫描件或数码照</li>
                  <li>组织机构代码证必须在有效期范围内</li>
                  <li>支持jpg、jpeg、png、bmp、gif格式的图片，大小不超过2M</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- 税务登记证编号 -->
          {# 渲染标准typeText输入框 #}
          {{
            form.typeTextDefault(
              label='税务登记证编号',
              value='XXXXXXXXXXXXX',
              formID='trId',
              fixedClass='form-required fn-mb-10'
            )
          }}
          <!-- 组织机构代码证扫描件 -->
          <div class="form-group form-required fn-mb-20">
            <label class="form-control-label">
              <span>组织机构代码证扫描件</span>
            </label>
            <div class="form-control-wrap">
              <div class="plural-btns">
                <label for="trImg" class="uploader btn default">
                  <i class="icon-folder-upload fn-mr-10"></i>上传文件
                  <input type="file" id="trImg">
                </label>
              </div>
              <div class="form-tips">
                <ul class="ul-standard">
                  <li>请上传税务登记证清晰彩色扫描件或数码照</li>
                  <li>税务登记证必须在有效期范围内</li>
                  <li>支持jpg、jpeg、png、bmp、gif格式的图片，大小不超过2M</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="formB2" style="display:none;">
          <!-- 社会信用证代码 -->
          {# 渲染标准typeText输入框 #}
          {{
            form.typeTextDefault(
              label='社会信用证代码',
              value='XXXXXXXXXXXXX',
              formID='creditCerID',
              fixedClass='form-required fn-mb-10'
            )
          }}
          <!-- 社会信用证扫描件 -->
          <div class="form-group form-required fn-mb-20">
            <label class="form-control-label">
              <span>社会信用证扫描件</span>
            </label>
            <div class="form-control-wrap">
              <div class="plural-btns">
                <label for="creditCerImg" class="uploader btn default">
                  <i class="icon-folder-upload fn-mr-10"></i>上传文件
                  <input type="file" id="creditCerImg">
                </label>
              </div>
              <div class="form-tips">
                <ul class="ul-standard">
                  <li>请上传社会信用证清晰彩色扫描件或数码照</li>
                  <li>社会信用证必须在有效期范围内</li>
                  <li>支持jpg、jpeg、png、bmp、gif格式的图片，大小不超过2M</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="formB3" style="display:none;">
          <!-- 其他证件编号 -->
          {# 渲染标准typeText输入框 #}
          {{
            form.typeTextDefault(
              label='其他证件编号',
              value='XXXXXXXXXXXXX',
              formID='otherCerID',
              fixedClass='form-required fn-mb-10'
            )
          }}
          <!-- 其他证件扫描件 -->
          <div class="form-group form-required fn-mb-20">
            <label class="form-control-label">
              <span>其他证件扫描件</span>
            </label>
            <div class="form-control-wrap">
              <div class="plural-btns">
                <label for="otherCerImg" class="uploader btn default">
                  <i class="icon-folder-upload fn-mr-10"></i>上传文件
                  <input type="file" id="otherCerImg">
                </label>
              </div>
              <div class="form-tips">
                <ul class="ul-standard">
                  <li>请上传证件清晰彩色扫描件或数码照</li>
                  <li>证件必须在有效期范围内</li>
                  <li>支持jpg、jpeg、png、bmp、gif格式的图片，大小不超过2M</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- 按钮 -->
        {# 渲染表单按钮 #}
        {{
          form.formBtns(
            btns = [
              {
                text:'下一步',
                btnTheme: 'primary'
              },
              {
                text:'取消',
                links: '渠道管理-渠道列表.html'
              }
            ]
          )
        }}
      </form>
    </div>
  </div>

</div>

{% endblock %}


{# 加载弹窗内容 #}
{% block modal %}
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
<script>
    $(function()
      {
        $('#branch1').on('click', function(){
          $('#formB1').show();
          $('#formB2').hide();
          $('#formB3').hide();
        })

        $('#branch2').on('click', function(){
          $('#formB1').hide();
          $('#formB2').show();
          $('#formB3').hide();
        })

        $('#branch3').on('click', function(){
          $('#formB1').hide();
          $('#formB2').hide();
          $('#formB3').show();
        })
      }
    )
</script>
{% endblock %}
