{% extends "_system_layout/2-system-Layout.html" %}


{# 填写页面 title #}
{% block title %}OAS大账户{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
</style>
{% endblock %}


{# 渲染系统导航 #}
{% block SystemNav %}


  {# 渲染系统顶部导航 #}
  {{ systemNavigator.systemTopNav(pl,stnBtns,topNavThemesList,userMenu,username='rayalienkiss',productName='OAS大账户') }}

  {# 渲染系统侧导航 #}
  {{ systemNavigator.systemAside(lv1,lv1cur='6',lv2cur='2') }}

  {# 渲染系统附加导航 #}
  {{ systemNavigator.systemAssistNav(assistNav) }}


{% endblock %}


{# 加载页面内容 #}
{% block content %}

<!-- 路径导航 -->
{# 渲染路径导航UI #}
{{
  breadcrumb.default(
    list = [
      {link: '系统管理-角色管理.html', text:'系统管理'},
      {link: '系统管理-角色管理.html', text:'角色管理'},
      {text: '编辑'}
    ],
    fixedClass='fn-pa-15 default-border-b'
  )
}}

{# 修正整体内容的内边距盒子，不需要定制化样式，根据设计需要随时变 #}
<div class="fn-pa-20">
  <!-- 编辑角色 -->
  <div class="panel">
    <div class="panel-heading">
      <h1 class="panel-title">编辑角色</h1>
    </div>
    <div class="panel-body">
      <form action="系统管理-角色管理.html">
        <!-- 角色名称 -->
        {# 渲染标准typeText输入框 #}
        {{
          form.typeTextDefault(
            label='角色名称',
            formID='roleName',
            fixedClass='form-required fn-mb-10'
          )
        }}
        <!-- 角色描述 -->
        {# 渲染标准textarea #}
        {{
          form.textareaDefault(
            formID='roleDetail',
            label='角色描述',
            fixedClass='fn-mb-20'
          )
        }}
        <!-- 输入字段 -->
        <div class="form-group fn-mb-20">
            <label class="form-control-label">
                <span>用户权限设置</span>
            </label>
            <div class="form-control-wrap">
              <div class="table-wrap">
                <table class="table table-bordered-type2">
                  <colgroup>
                    <col>
                    <col>
                  </colgroup>
                  <thead>
                    <tr>
                      <th colspan="2">
                        <label class="table-checked-withtext">
                          <input type="checkbox">账户功能管理<br>
                        </label>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th rowspan="2">
                        <label class="table-checked-withtext">
                          <input type="checkbox">账户功能列表<br>
                        </label>
                      </th>
                      <td>
                        <label class="table-checked-withtext">
                          <input type="checkbox">启用/禁用<br>
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="table-checked-withtext">
                          <input type="checkbox">管理<br>
                        </label>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        <!-- 按钮 -->
        {# 渲染表单按钮 #}
        {{
          form.formBtns(
            btns = [
              {
                text:'完成',
                btnTheme: 'primary'
              },
              {
                text:'取消',
                links: '系统管理-角色管理.html'
              }
            ]
          )
        }}
      </form>
    </div>
  </div>

</div>

{% endblock %}


{# 加载弹窗内容 #}
{% block modal %}
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
<script>
</script>
{% endblock %}
