{% extends "_system_layout/2-system-Layout.html" %}


{# 填写页面 title #}
{% block title %}OAS大账户{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
</style>
{% endblock %}


{# 渲染系统导航 #}
{% block SystemNav %}


  {# 渲染系统顶部导航 #}
  {{ systemNavigator.systemTopNav(pl,stnBtns,topNavThemesList,userMenu,username='rayalienkiss',productName='OAS大账户') }}

  {# 渲染系统侧导航 #}
  {{ systemNavigator.systemAside(lv1,lv1cur='5',lv2cur='1') }}

  {# 渲染系统附加导航 #}
  {{ systemNavigator.systemAssistNav(assistNav) }}


{% endblock %}


{# 加载页面内容 #}
{% block content %}

<!-- 路径导航 -->
{# 渲染路径导航UI #}
{{
  breadcrumb.default(
    list = [
      {link: '账户查询-查看个人账户.html', text:'账户查询'},
      {link: '账户查询-查看个人账户.html', text:'查看个人账户'},
      {text: '账户详情'}
    ],
    fixedClass='fn-pa-15 default-border-b'
  )
}}

{# 修正整体内容的内边距盒子，不需要定制化样式，根据设计需要随时变 #}
<div class="fn-pa-20">
  <div class="panel fn-mb-20">
    <div class="panel-heading">
      <h1 class="panel-title">账户名称XXXX</h1>
    </div>
    <div class="panel-body">
      <!-- 个人注册 -->
      <div class="table-wrap fn-mb-20">
        <table class="table table-bordered-type3 table-align-type2">
          <colgroup>
            <col width="150px">
            <col>
            <col width="150px">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th colspan="4">
                <h4 class="text-align-left">个人注册</h4>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>账户类型</th>
              <td>个人</td>
              <th>登录名</th>
              <td>gavf</td>
            </tr>
            <tr>
              <th>昵称</th>
              <td>小粒粒</td>
              <th>注册时间</th>
              <td>
                <span class="text-nowrap">2016-10-01</span>
                <span class="text-nowrap fontcolor-vice">18:00:00</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- 个人基本信息 -->
      <div class="table-wrap fn-mb-20">
        <table class="table table-bordered-type3 table-align-type2">
          <colgroup>
            <col width="150px">
            <col>
            <col width="150px">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th colspan="4">
                <h4 class="text-align-left">个人基本信息</h4>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>真实姓名</th>
              <td>张力</td>
              <th>证件类型</th>
              <td>身份证</td>
            </tr>
            <tr>
              <th>证件号码</th>
              <td colspan="3">450000000000000000</td>
            </tr>
            <tr>
              <th>证件正面扫描件</td>
                <td colspan="3">
                    <a href="#" target="_blank" class="link-standard">
                      <img src="#" alt="" style="border:none;outline:none;display:inline-block;height:50px;vertical-align:middle">
                    </a>
                </td>
            </tr>
            <tr>
              <th>证件背面扫描件</td>
                <td colspan="3">
                    <a href="#" target="_blank" class="link-standard">
                      <img src="#" alt="" style="border:none;outline:none;display:inline-block;height:50px;vertical-align:middle">
                    </a>
                </td>
            </tr>
            <tr>
              <th>手机号</th>
              <td>13800000000</td>
              <th>固定电话号</th>
              <td>02081033789</td>
            </tr>
            <tr>
              <th>邮箱</th>
              <td>zhangli@163.com</td>
              <th>性别</th>
              <td>男</td>
            </tr>
            <tr>
              <th>出生日期</th>
              <td><span class="text-nowrap">2016-10-01</span></td>
              <th>学历</th>
              <td>本科</td>
            </tr>
            <tr>
              <th>职业</th>
              <td>教师</td>
              <th>所在省份</th>
              <td>广东省</td>
            </tr>
            <tr>
              <th>所在地市</th>
              <td>广州市</td>
              <th>个人博客URL</th>
              <td>http://weibo.com/u/2518349655</td>
            </tr>
            <tr>
              <th>联系地址</th>
              <td colspan="3">XXX</td>
            </tr>
            <tr>
              <th>QQ号</th>
              <td>74298677</td>
              <th>微信号</th>
              <td>zhangsan</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- 实名认证 — 身份认证 -->
      <div class="table-wrap fn-mb-20">
        <table class="table table-bordered-type3 table-align-type2">
          <colgroup>
            <col width="150px">
            <col>
            <col width="150px">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th colspan="4">
                <h4 class="text-align-left">实名认证 — 身份认证</h4>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>认证结果</th>
              <td>通过</td>
              <th>真实姓名</th>
              <td>张力</td>
            </tr>
            <tr>
              <th>身份证号</th>
              <td>450000000000000000</td>
              <th>注册时间</th>
              <td>
                <span class="text-nowrap">2016-10-01</span>
                <span class="text-nowrap fontcolor-vice">18:00:00</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- 实名认证 — 个人银行卡认证 -->
      <div class="table-wrap fn-mb-20">
        <table class="table table-bordered-type3 table-align-type2">
          <colgroup>
            <col width="150px">
            <col>
            <col width="150px">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th colspan="4">
                <h4 class="text-align-left">实名认证 — 个人银行卡认证</h4>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>认证结果</th>
              <td>通过</td>
              <th>户名</th>
              <td>张力</td>
            </tr>
            <tr>
              <th>银行卡号</th>
              <td>622588888888888</td>
              <th>开户行</th>
              <td>招商银行</td>
            </tr>
            <tr>
              <th>省份</th>
              <td>广东省</td>
              <th>地市</th>
              <td>广州市</td>
            </tr>
            <tr>
              <th>分支行</th>
              <td>招商银行广州花城支行</td>
              <th>银行预留手机号</th>
              <td>13800000000</td>
            </tr>
            <tr>
              <th>认证时间</th>
              <td colspan="3">
                <span class="text-nowrap">2016-10-01</span>
                <span class="text-nowrap fontcolor-vice">18:00:00</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- 实名认证 — 绑定手机 -->
      <div class="table-wrap fn-mb-20">
        <table class="table table-bordered-type3 table-align-type2">
          <colgroup>
            <col width="150px">
            <col>
            <col width="150px">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th colspan="4">
                <h4 class="text-align-left">实名认证 — 绑定手机</h4>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>认证结果</th>
              <td>通过</td>
              <th>手机号</th>
              <td>13800000000</td>
            </tr>
            <tr>
              <th>认证时间</th>
              <td colspan="3">
                <span class="text-nowrap">2016-10-01</span>
                <span class="text-nowrap fontcolor-vice">18:00:00</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- 实名认证 — 人脸认证 -->
      <div class="table-wrap fn-mb-20">
        <table class="table table-bordered-type3 table-align-type2">
          <colgroup>
            <col width="150px">
            <col>
            <col width="150px">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th colspan="4">
                <h4 class="text-align-left">实名认证 — 人脸认证</h4>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>认证结果</th>
              <td>通过</td>
              <th>真实姓名</th>
              <td>张力</td>
            </tr>
            <tr>
              <th>身份证号</th>
              <td>450000000000000000</td>
              <th>认证时间</th>
              <td>
                <span class="text-nowrap">2016-10-01</span>
                <span class="text-nowrap fontcolor-vice">18:00:00</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- 安全信息 — 登录密码 -->
      <div class="table-wrap fn-mb-20">
        <table class="table table-bordered-type3 table-align-type2">
          <colgroup>
            <col width="150px">
            <col>
            <col width="150px">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th colspan="4">
                <h4 class="text-align-left">安全信息 — 登录密码</h4>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>登录密码</th>
              <td colspan="3">
                已设置
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- 安全信息 — 支付密码 -->
      <div class="table-wrap fn-mb-20">
        <table class="table table-bordered-type3 table-align-type2">
          <colgroup>
            <col width="150px">
            <col>
            <col width="150px">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th colspan="4">
                <h4 class="text-align-left">安全信息 — 支付密码</h4>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>交易密码</th>
              <td colspan="3">
                已设置
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- 开通服务 -->
      <div class="table-wrap fn-mb-20">
        <table class="table table-bordered-type3 table-align-type2">
          <colgroup>
            <col width="150px">
            <col>
            <col width="150px">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th colspan="4">
                <h4 class="text-align-left">开通服务</h4>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>广东钱途互联商务服务有限公司供应</th>
              <td colspan="3">
                E+账户，融票，应收账融资，订单融资，车险分期融资
              </td>
            </tr>
            <tr>
              <th>号百信息服务有限公司供应</th>
              <td colspan="3">
                号码百事通
              </td>
            </tr>
            <tr>
              <th>号百信息服务有限公司供应</th>
              <td colspan="3">
                蝴蝶EIP系统
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer">
      <!-- 按钮 -->
      <div>
        <a href="账户查询-查看个人账户.html" class="btn primary">返回个人账户列表</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{# 加载弹窗内容 #}
{% block modal %}
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
<script>
</script>
{% endblock %}
