{% macro theNav(cur='') %}
    <div class="bricks-header">
        <div class="bricks-nav">
            <ul>
                <li>
                    <a href="#">
                        起步
                    </a>
                </li>
                <li>
                    <a href="#">
                        全局样式
                    </a>
                </li>
                <li>
                    <a href="#">
                        组件
                    </a>
                </li>
                <li>
                    <a href="#">
                        JavaScript 插件
                    </a>
                </li>
                <li>
                    <a href="#">
                        GitHub
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endmacro %}
