{% macro theNav(mainNav,cur='',static='/static') %}
    <nav class="bricks-header">
        <div class="bricks-user-wrap">
            <a href="javascript:;void(0)" title="rayalienkiss@apple.com" class="">
                <img src="{{ static }}/images/userheadshot/scenery-12.png?v={{ version }}" alt="UserHeadShot">
            </a>
            <div class="bricks-user-menu">
                <div class="bricks-user-name">
                    <p>
                        当前登入账户
                    </p>
                    <h4>
                        rayalienkiss@apple.com
                    </h4>
                </div>
                <div class="bricks-user-menu-options">
                    <div class="bricks-user-menu-option-group">
                        <h5>
                            通告
                        </h5>
                        <a href="javascript:;void(0)" class="bum">所有通告</a>
                        <a href="javascript:;void(0)" class="bum">来自所在的团队</a>
                        <a href="javascript:;void(0)" class="bum">来自关注的项目</a>
                        <a href="javascript:;void(0)" class="bum">来自参与的项目</a>
                    </div>
                    <div class="bricks-user-menu-option-group">
                        <h5>
                            关于团队
                        </h5>
                        <a href="javascript:;void(0)" class="bum">新团队</a>
                        <a href="javascript:;void(0)" class="bum">我所在的团队</a>
                    </div>
                    <div class="bricks-user-menu-option-group">
                        <h5>
                            关于项目
                        </h5>
                        <a href="javascript:;void(0)" class="bum">新项目</a>
                        <a href="javascript:;void(0)" class="bum">我创建的</a>
                        <a href="javascript:;void(0)" class="bum">我参与的</a>
                    </div>
                    <div class="bricks-user-menu-option-group">
                        <h5>
                            这里的我
                        </h5>
                        <a href="javascript:;void(0)" class="bum">账户</a>
                        <a href="javascript:;void(0)" class="bum">关注的项目</a>
                        <a href="javascript:;void(0)" class="bum">开发</a>
                        <a href="javascript:;void(0)" class="bum">工具墙</a>
                        <a href="javascript:;void(0)" class="bum">帮助</a>
                    </div>
                </div>
                <div class="bricks-user-menu-options">
                    <div class="bricks-user-menu-option-group text-align-right">
                        <a href="javascript:;void(0)" class="bum nobg">设置</a>
                        <a href="javascript:;void(0)" class="bum nobg">退出</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="bricks-nav">
            <ul>
                {% for item in mainNav %}
                <li {% if loop.index == cur %}class="current"{% endif %}>
                    <a href="{{ item.url }}">
                        {{ item.text }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
{% endmacro %}
