{% macro default(fixClass='') %}
<nav class="system-top-nav">
  <a href="###" class="system-logo">
    <img src="{{ static }}/images/systemLogo/eplus.png" alt="">
  </a>
  <div class="stn-dropdown-wrap pull-left">
    <a class="stn-btn">
      {{ productName }}
    </a>
    <div class="stn-dropdown-menu stn-product-menu">
      <div class="stn-pm-box">
        <ul class="pl">
          {% for item in pl %}
          <li>
            <a href="###" title="{{ item.product }}">{{ item.product }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% for item in stnBtns %}
  <a href="javascript:void(0);" class="stn-btn pull-left">
    {{ item.btn }}
  </a>
  {% endfor %}
  <a href="javascript:void(0);" class="stn-function-icon">
    <span class="fr">23</span>
    <span class="fi">
      <i class="icon-notifications_none"></i>
    </span>
  </a>
  <a href="javascript:void(0);" class="stn-function-icon">
    <span class="fi">
      <i class="icon-timer"></i>
    </span>
  </a>
  <a href="javascript:void(0);" class="stn-function-icon stn-dropdown-wrap themes">
    <span class="fi">
      <i></i>
    </span>
    <div class="stn-dropdown-menu">
      <ul class="stn-themes-menu">
        {% for item in topNavThemesList %}
        <li style="background-color: {{ item.bgColor }};"></li>
        {% endfor %}
      </ul>
    </div>
  </a>
  <div class="stn-dropdown-wrap pull-right fn-mr-10 user">
    <a class="stn-btn">
      <img src="{{ static }}/images/userheadshot/scenery-7.png" alt="">
      Hello! {{ username }}
    </a>
    <div class="stn-dropdown-menu">
      <ul class="stn-user-menu">
        {% for item in userMenu %}
        <li>
          <a href="#">{{ item.option }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
{% endmacro %}
