{% macro systemTopNav(topNavList,cur='',static='/static',fixedClass='') %}
<nav class="system-top-nav">
  <a href="###" class="system-logo">
    <img src="{{ static }}/images/systemLogo/eplus.png" alt="">
  </a>
  <div class="stn-dropdown-wrap pull-left">
    <a class="stn-btn">
      E+账户管理后台
    </a>
    <div class="stn-dropdown-menu stn-product-menu">
      <div class="stn-pm-box">
        <ul class="pl">
          <li>
            <a href="###" title="XXXXXXXXXXXXXXXXXXXXXX">XXXXXXXXXXXXXXXXXXXXXX</a>
          </li>
          <li>
            <a href="###" title="XXXXXXXXXXXXXXXXXXXXXX">XXXXXXXXXXX</a>
          </li>
          <li>
            <a href="###" title="XXXXXXXXXXXXXXXXXXXXXX">XXXXXXXXXXX</a>
          </li>
          <li>
            <a href="###" title="XXXXXXXXXXXXXXXXXXXXXX">XXXXXXXXXXX</a>
          </li>
          <li>
            <a href="###" title="XXXXXXXXXXXXXXXXXXXXXX">XXXXXXXXXXX</a>
          </li>
          <li>
            <a href="###" title="XXXXXXXXXXXXXXXXXXXXXX">XXXXXXXXXXX</a>
          </li>
          <li>
            <a href="###" title="XXXXXXXXXXXXXXXXXXXXXX">XXXXXXXXXXX</a>
          </li>
          <li>
            <a href="###" title="XXXXXXXXXXXXXXXXXXXXXX">XXXXXXXXXXX</a>
          </li>
          <li>
            <a href="###" title="XXXXXXXXXXXXXXXXXXXXXX">XXXXXXXXXXX</a>
          </li>
          <li>
            <a href="###" title="XXXXXXXXXXXXXXXXXXXXXX">XXXXXXXXXXX</a>
          </li>
          <li>
            <a href="###" title="XXXXXXXXXXXXXXXXXXXXXX">XXXXXXXXXXX</a>
          </li>
          <li>
            <a href="###" title="XXXXXXXXXXXXXXXXXXXXXX">XXXXXXXXXXX</a>
          </li>
          <li>
            <a href="###" title="XXXXXXXXXXXXXXXXXXXXXX">XXXXXXXXXXX</a>
          </li>
          <li>
            <a href="###" title="XXXXXXXXXXXXXXXXXXXXXX">XXXXXXXXXXX</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <a href="javascript:void(0);" class="stn-btn pull-left">
    后台设置
  </a>
  <a href="javascript:void(0);" class="stn-btn pull-left">
    管理系统
  </a>
</nav>
{% endmacro %}

{% macro systemAside(asideList,cur='',lv2cur='',static='/static',fixedClass='') %}
<aside class="system-aside">
  <div class="system-aside-container">
    <ul class="aside-list-1">
      {% for li in asideList %}
      <li {% if loop.index == cur%}class="current"{% endif %}>
        <a href="{{ li.url }}" class="{{ li.iconClass }}">
          {{ li.text }}
        </a>
        <ul class="aside-list-2">
          {% for li2 in li.lv2 %}
          <li {% if loop.index == lv2cur %}class="current"{% endif %}>
            <a href="{{ li2.url }}">
              {{ li2.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>
</aside>
{% endmacro %}
