{% extends "_BrickPlus_layout/5-BP-ComponentsStyle.html" %}


{# 填写页面 title #}
{% block title %}BrickPlus{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
</style>
{% endblock %}


{# 加载页面 body 设置，例如引用‘类’ #}
{% block bodyClass %}
{% endblock %}


{# 渲染页面导航 #}
{% block nav %}
{# 渲染主导航 #}
{{ navigator.theNav(mainNav,cur='3') }}
{# 渲染侧导航 #}
{{ asideNav.theAsideNav(mainAsideNav,cur='5') }}
{% endblock %}


{# 加载页面内容 #}
{% block content %}
{# 渲染标签页 #}
{{
  tab.prototype(
    tabs = [
      {text: '结构和样式', url: '#tp1'},
      {text: '带关闭按钮', url: '#tp2'},
      {text: '固定的警告框', url: '#tp3'}
    ],
    cur='1'
  )
}}
<div class="tabs-content">
  <div class="tabs-panel active" id="tp1">
    <section class="example-wrap">
      <ul class="example-description">
        <li>
          警告框组件通过提供一些灵活的预定义消息，为常见的用户动作提供反馈消息；<br>
          <code>.alert</code> 类是必须要设置的，另外还提供了有特殊意义的4个类 <code>.alert-success</code>，<code>.alert-info</code>，<code>.alert-warning</code>，<code>.alert-danger</code> 代表不同的警告信息。
        </li>
      </ul>
      <div class="example">
        <div class="example-tag">实例</div>
        <div class="example-box">
          <div class="result-wrap success">
            <div class="result-box">
              <div class="result-icon"></div>
              <div class="result-content">
                <div class="result-inner">
                  <h1>
                    勝利の大逃亡！
                  </h1>
                  <p>
                    预计资金2个工作日到您的银行卡
                    交易结果以交易记录显示为准
                  </p>
                  <a href="###" class="link-standard">查看提现明细</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="example-code">
          <pre>
            <code>
&lt;<b>div</b> <span class="va">class="<span class="cl"><b>alert ( alert-success / alert-info / alert-warning / alert-danger )</b></span>"</span>&gt;
  <span class="tg">...</span>
  &lt;<b>em</b> <b><span class="va">data-dismiss="<span class="cl">alert</span>"</span></b>&gt;&lt;/<b>em</b>&gt;
&lt;/<b>div</b>&gt;
            </code>
          </pre>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}


{# 加载弹窗内容 #}
{% block modal %}
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
<script>
</script>
{% endblock %}
