{% extends "_BrickPlus_layout/1-BP-Base.html" %}


{# 填写页面 title #}
{% block title %}BrickPlus{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
<link rel="stylesheet" href="{{ static }}/css/BrickPlus.css?v={{ version }}">
<link rel="stylesheet" href="{{ static }}/js/perfect-scrollbar/css/perfect-scrollbar.min.css">
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
</style>
{% endblock %}


{# 加载页面 body 设置，例如引用‘类’ #}
{% block bodyClass %}
{% endblock %}


{# 加载页面内容 #}
{% block body %}
  <section class="example-wrap" style="width:80%;margin: 0 auto; padding-top: 100px;">
    <ul class="example-description">
      <li>404错误页面提供了7种不同的风格，其中只要修改不同的图片名称即可<code>404_1.png</code>、<code>404_2.png</code>、<code>404_3.png</code>、<code>404_4.png</code>、<code>404_5.png</code>、<code>404_6.png</code>、<code>404_7.png</code></li>
    </ul>
  </section>

  <div class="error-wrap">
    <div class="error-img"><img src={{static}}/images/404/404_1.png></div>
    <div class="error-content">
      <h1 class="fn-mb-15 fontcolor-info">很抱歉！您访问的页面不存在......</h1>
      <div class="lh-24">
          <b>错误原因：</b> <br>
        • 所访问的页面网址链接出错 <br>
        • 网络出错
      </div>
      <button type="button" class="btn primary small-btn fn-mt-20">返回首页</button>
    </div>
  </div>
  <div class="error-wrap">
    <div class="error-img"><img src={{static}}/images/404/404_2.png></div>
    <div class="error-content">
      <h1 class="fn-mb-15 fontcolor-info">很抱歉！您访问的页面不存在......</h1>
      <div class="lh-24">
        <b>错误原因：</b> <br>
        • 所访问的页面网址链接出错 <br>
        • 网络出错
      </div>
      <button type="button" class="btn primary small-btn fn-mt-20">返回首页</button>
    </div>
  </div>
  <div class="error-wrap">
    <div class="error-img"><img src={{static}}/images/404/404_3.png></div>
    <div class="error-content">
      <h1 class="fn-mb-15 fontcolor-info">很抱歉！您访问的页面不存在......</h1>
      <div class="lh-24">
        <b>错误原因：</b> <br>
        • 所访问的页面网址链接出错 <br>
        • 网络出错
      </div>
      <button type="button" class="btn primary small-btn fn-mt-20">返回首页</button>
    </div>
  </div>
  <div class="error-wrap">
    <div class="error-img"><img src={{static}}/images/404/404_4.png></div>
    <div class="error-content">
      <h1 class="fn-mb-15 fontcolor-info">很抱歉！您访问的页面不存在......</h1>
      <div class="lh-24">
        <b>错误原因：</b> <br>
        • 所访问的页面网址链接出错 <br>
        • 网络出错
      </div>
      <button type="button" class="btn primary small-btn fn-mt-20">返回首页</button>
    </div>
  </div>
  <div class="error-wrap">
    <div class="error-img"><img src={{static}}/images/404/404_5.png></div>
    <div class="error-content">
      <h1 class="fn-mb-15 fontcolor-info">很抱歉！您访问的页面不存在......</h1>
      <div class="lh-24">
        <b>错误原因：</b> <br>
        • 所访问的页面网址链接出错 <br>
        • 网络出错
      </div>
      <button type="button" class="btn primary small-btn fn-mt-20">返回首页</button>
    </div>
  </div>
  <div class="error-wrap">
    <div class="error-img"><img src={{static}}/images/404/404_6.png></div>
    <div class="error-content">
      <h1 class="fn-mb-15 fontcolor-info">很抱歉！您访问的页面不存在......</h1>
      <div class="lh-24">
        <b>错误原因：</b> <br>
        • 所访问的页面网址链接出错 <br>
        • 网络出错
      </div>
      <button type="button" class="btn primary small-btn fn-mt-20">返回首页</button>
    </div>
  </div>
  <div class="error-wrap">
    <div class="error-img"><img src={{static}}/images/404/404_7.png></div>
    <div class="error-content">
      <h1 class="fn-mb-15 fontcolor-default">浏览器版本过低，建议进行升级</h1>
      <div class="lh-24">
        <p>推荐以下浏览器</p>
        <ul class="browser-list">
          <li>
            <a href="###">
              <img src={{static}}/images/404/google.png>
              <p>谷歌浏览器</p>
            </a>
          </li>
          <li>
            <a href="###">
              <img src={{static}}/images/404/firefox.png>
              <p>Firefox</p>
            </a>
          </li>
          <li>
            <a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie">
              <img src={{static}}/images/404/ie.png>
              <p>IE8+</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

<div class="example" style="width: 80%; margin: 0 auto">
  <div class="example-code"> <pre>            <code>
    &lt;<b>div</b> <span class="va">class="<span class="cl"><b>error-wrap</b></span>"</span>&gt;
    &lt;<b>div</b> <span class="va">class="<span class="cl"><b>error-img</b></span>"</span>&gt;
    &lt;<b>img</b> <span class="va">src=<span class="cl"><b>{{static}}/images/404/404_x.png</b></span></span>&gt;
    &lt;/<b>div</b>&gt;
    &lt;<b>div</b> <span class="va">class="<span class="cl"><b>error-content</b></span>"</span>&gt;
    <span class="tg">提示内容</span>
    &lt;/<b>div</b>&gt;
    &lt;/<b>div</b>&gt;
    &lt;/<b>div</b>&gt;
  </code>
          </pre> </div>
</div>



{% endblock %}

{# 加载弹窗内容 #}
{% block modal %}

{% endblock %}

{# 加载公共 javascript 文件 #}
{% block globalJs %}{% endblock %}

{# 加载页面专有 javascript 文件 #}
{% block js %}{% endblock %}

{# 加载页面内联 javascript 代码 #}
{% block jsPage %}{% endblock %}


