{% extends "_BrickPlus_layout/5-BP-ComponentsStyle.html" %}


{# 填写页面 title #}
{% block title %}BrickPlus{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
</style>
{% endblock %}


{# 加载页面 body 设置，例如引用‘类’ #}
{% block bodyClass %}
class="page-spinner-open <!--modal-open-->"
{% endblock %}


{# 渲染页面导航 #}
{% block nav %}
{# 渲染主导航 #}
{{ navigator.theNav(mainNav,cur='3') }}
{# 渲染侧导航 #}
{{ asideNav.theAsideNav(mainAsideNav,cur='10') }}
{% endblock %}


{# 加载页面内容 #}
{% block content %}
{# 渲染标签页 #}
{{
  tab.prototype(
    tabs = [
      {text: '结构和样式', url: '#tp1'}
    ],
    cur='1'
  )
}}
<div class="tabs-content">
  <div class="tabs-panel active" id="tp1">
    <div class="btn-group-box small-btn-gb vertical-btn-gb example-nav">
      <a href="#SpinnerInBtn" class="btn default">按钮中的加载动画</a>
      <a href="#SpinnerInWrap" class="btn default">页面的加载动画</a>
    </div>
    <section class="example-wrap">
      <h2 id="SpinnerInBtn">按钮中的加载动画</h2>
      <ul class="example-description">
        <li>
          给 <code>.btn</code> 系列的按钮元素引用 <code>.btn-spinner</code> 类，得到 loading 状态下的按钮样式。它拥有和 <code>.disabled / [disabled]</code> 一样的设计用意，并加载等待的效果。<br>
        </li>
        <li>
          但 <code>input</code> 标签没有 <code>:before</code>，所以在 <code>.btn</code> 系列按钮元素中，<code>input</code> 的按钮不会显示 spinner 动画。
        </li>
        <li>
          在按钮中引用的 <code>.btn-spinner</code> 的同时，需要脚本控制给拥有 <code>[disabled]</code> 属性的按钮标签添加这个属性，才能真整实现加载状态下的按钮不可用。
        </li>
      </ul>
      <div class="example">
        <div class="example-tag">实例</div>
        <div class="example-box">
          <div class="text-align-center">
            <button class="btn primary btn-spinner" disabled>Loading...</button>
          </div>
        </div>
        <div class="example-code">
          <pre>
            <code>
&lt;<b>button</b> <span class="va">class="<span class="cl">btn default <b>btn-spinner</b></span>"</span> disabled&gt;
  <span class="tg">...</span>
&lt;/<b>button</b>&gt;
            </code>
          </pre>
        </div>
      </div>
    </section>
    <section class="example-wrap">
      <h2 id="SpinnerInWrap">页面的加载动画</h2>
      <ul class="example-description">
        <li>
          ...
        </li>
      </ul>
      <div class="example">
        <div class="example-tag">实例</div>
        <div class="example-box">
        </div>
        <div class="example-code">
          <pre>
            <code>
&lt;<b>div</b> <span class="va">class="<span class="cl"><b>panel</b></span>"</span>&gt;
  &lt;<b>div</b> <span class="va">class="<span class="cl"><b>panel-heading</b></span>"</span>&gt;
    &lt;<b>h1</b> <span class="va">class="<span class="cl"><b>panel-title</b></span>"</span>&gt;<span
              class="tg">...</span>&lt;/<b>h1</b>&gt;
    &lt;<b>div</b> <span class="va">class="<span class="cl"><b>ph-add-ons</b></span>"</span>&gt;<span
              class="tg">...</span>&lt;/<b>div</b>&gt;
  &lt;/<b>div</b>&gt;
  &lt;<b>div</b> <span class="va">class="<span class="cl"><b>panel-body</b></span>"</span>&gt;
    <span class="tg">...</span>
  &lt;/<b>div</b>&gt;
  &lt;<b>div</b> <span class="va">class="<span class="cl"><b>panel-footer</b></span>"</span>&gt;
    <span class="tg">...</span>
  &lt;/<b>div</b>&gt;
&lt;/<b>div</b>&gt;
            </code>
          </pre>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}


{# 加载弹窗内容 #}
{% block modal %}
<div class="page-spinner">
  <div class="spinner-layer">
    <div class="spinner">
      123
    </div>
  </div>
</div>
<!--<div class="modal-background" id="myModal" role="dialog">
  <div class="modal-layer">
    <div class="modal-position">
      <div class="modal-wrap animated bounceInDown">
        <div class="modal-head">
          modal
          <i class="modal-close" title="关闭"></i>
        </div>
        <div class="modal-body">
          &lt;!&ndash;模态窗口高度不限&ndash;&gt;
          <div class="text-align-right plural-btns fn-pt-30">
            <a href="###" class="btn links">链接</a>
            <button type="button" class="btn default">取消</button>
            <button type="button" class="btn primary">确认</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
<script>
</script>
{% endblock %}
