{% extends "_BrickPlus_layout/5-BP-ComponentsStyle.html" %}


{# 填写页面 title #}
{% block title %}BrickPlus{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
</style>
{% endblock %}


{# 加载页面 body 设置，例如引用‘类’ #}
{% block bodyClass %}
{% endblock %}


{# 渲染页面导航 #}
{% block nav %}
{# 渲染主导航 #}
{{ navigator.theNav(mainNav,cur='3') }}
{# 渲染侧导航 #}
{{ asideNav.theAsideNav(mainAsideNav,cur='5') }}
{% endblock %}


{# 加载页面内容 #}
{% block content %}
{# 渲染标签页 #}
{{
  tab.prototype(
    tabs = [
      {text: '结构和样式', url: '#tp1'},
      {text: '带关闭按钮', url: '#tp2'},
      {text: '固定的警告框', url: '#tp3'}
    ],
    cur='3'
  )
}}
<div class="tabs-content">
  <div class="tabs-panel" id="tp1">
    <section class="example-wrap">
      <ul class="example-description">
        <li>
          警告框组件通过提供一些灵活的预定义消息，为常见的用户动作提供反馈消息；<br>
          <code>.alert</code> 类是必须要设置的，另外还提供了有特殊意义的4个类 <code>.alert-success</code>，<code>.alert-info</code>，<code>.alert-warning</code>，<code>.alert-danger</code> 代表不同的警告信息。
        </li>
        <li>
          警告框没有默认类，只有基类和修饰类。基类在大多情况下都用不上。所以您要使用一种有意义的警告类。目前提供了成功、消息、警告或危险。
        </li>
      </ul>
      <div class="example">
        <div class="example-tag">实例</div>
        <div class="example-box">
          <div class="alert">
            这种就是最基础的警告框，可以用在对事件的即时描述情景上面。
            <em></em>
          </div>
          <div class="alert alert-success">
            <b>.alert-success</b>，鼓励，正确，正面性质的事件即时描述。
            <em data-dismiss="alert"></em>
          </div>
          <div class="alert alert-info">
            <b>.alert-info</b>，包含提示意义，或帮助信息在内的即时描述。
            <em data-dismiss="alert"></em>
          </div>
          <div class="alert alert-warning">
            <b>.alert-warning</b>，注意事项或警告内容的即时描述。
            <em data-dismiss="alert"></em>
          </div>
          <div class="alert alert-danger">
            <b>.alert-danger</b>，错误内容或危险内容的即时描述。
            <em data-dismiss="alert"></em>
          </div>
        </div>
        <div class="example-code">
          <pre>
            <code>
&lt;<b>div</b> <span class="va">class="<span class="cl"><b>alert ( alert-success / alert-info / alert-warning / alert-danger )</b></span>"</span>&gt;
  <span class="tg">...</span>
  &lt;<b>em</b> <b><span class="va">data-dismiss="<span class="cl">alert</span>"</span></b>&gt;&lt;/<b>em</b>&gt;
&lt;/<b>div</b>&gt;
            </code>
          </pre>
        </div>
      </div>
    </section>
  </div>
  <div class="tabs-panel" id="tp2">
    <section class="example-wrap">
      <ul class="example-description">
        <li>
          为警告框叠加 <code>.alert-dismissible</code> 类，显示警告框自带的关闭按钮。<br>
        </li>
      </ul>
      <div class="example">
        <div class="example-tag">实例</div>
        <div class="example-box">
          <div class="alert alert-dismissible">
            这种就是最基础的警告框，可以用在对事件的即时描述情景上面。
            <em data-dismiss="alert"></em>
          </div>
        </div>
        <div class="example-code">
          <pre>
            <code>
&lt;div <span class="va">class="<span class="cl">alert <b>alert-dismissible</b></span>"</span>&gt;
  <span class="tg">...</span>
  &lt;em <span class="va">data-dismiss="<span class="cl">alert</span>"</span>&gt;&lt;/em&gt;
&lt;/div&gt;
            </code>
          </pre>
        </div>
      </div>
    </section>
  </div>
  <div class="tabs-panel active" id="tp3">
    <section class="example-wrap">
      <ul class="example-description">
        <li>
          在 <code>body</code> 下的 <code>.main</code> 这一层，放置一个块级容器，并引用类 <code>.alert-fixed-wrap</code>，将需要出现的警告框结构都放置在里面。
        </li>
      </ul>
      <div class="example">
        <div class="example-tag">实例</div>
        <div class="example-box sim-body">
          <p class="lead">钱途連携獲得した全世界最大の情報技術の出版、研究、開発とリスクの投資会社――アメリカ国際データグループ（インターナショナルデータイーストグループ、IDG）の投資。現在IDGすでにななじゅう社以上が投票公開上場会社を買収や、約さんじゅう万人の雇用機会。中国最大の投資の早期と長期のリスク投資ファンド。</p>
          <br>
          <p>2014年、会社は広州天河CBDセンター区の中核に位置し、現在従業員は百人近く、深センに事務所を設立。钱途連携は国内初のフォーカスモードに基づいてインターネットを通じて、企業の取引の過程の電子登録システム（ブランド名「E +口座」）、ドッキング良質の金融資源は中小企業に付加価値を提供し、新型のサプライチェーンの融資や革新支払い決済の金融サービス産業。</p>
          <br>
          <p>現在、钱途連携業務は放射線の金融、不動産、飲食、医薬品など多くの産業として允リットル工業、山東高速、万科産、九州通など数百有名な企業と緊密な協力関係の確立によって、パートナーの実際的な需要にカスタマイズ製品、実現E +口座機能の基礎の上に協力パートナードッキング良質金融資源、安全かつ高効率に解決し、融資と決済需要増値、および産業金融分野の業務開拓やシーンを建て。钱途連携の革新的な能力と専門のサービスも数多くパートナーと業界団体の高さを認可し、2015年の国際的なトップを獲得し风投機構IDG資本投資。</p>
          <div class="alert-fixed-wrap">
            <div class="alert alert-success alert-dismissible">
              <b>.alert-success</b>，鼓励，正确，正面性质的事件即时描述。
              <em data-dismiss="alert"></em>
            </div>
            <div class="alert alert-info alert-dismissible">
              <b>.alert-info</b>，包含提示意义，或帮助信息在内的即时描述。
              <em data-dismiss="alert"></em>
            </div>
            <div class="alert alert-danger alert-dismissible">
              <b>.alert-danger</b>，错误内容或危险内容的即时描述。
              <em data-dismiss="alert"></em>
            </div>
          </div>
        </div>
        <div class="example-code">
          <pre>
            <code>
&lt;<b>div</b> <span class="va">class="<span class="cl"><b>alert-fixed-wrap</b></span>"</span>&gt;
  &lt;div <span class="va">class="<span class="cl">alert</span>"</span>&gt;
    <span class="tg">...</span>
    &lt;em <span class="va">data-dismiss="<span class="cl">alert</span>"</span>&gt;&lt;/em&gt;
  &lt;/div&gt;
&lt;/<b>div</b>&gt;
            </code>
          </pre>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}


{# 加载弹窗内容 #}
{% block modal %}
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
<script>
</script>
{% endblock %}
