{% extends "_BrickPlus_layout/4-BP-GlobalStyle.html" %}


{# 填写页面 title #}
{% block title %}BrickPlus{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
</style>
{% endblock %}


{# 渲染页面导航 #}
{% block nav %}
    {# 渲染主导航 #}
    {{ navigator.theNav(mainNav,cur='2') }}
    {# 渲染侧导航 #}
    {{ asideNav.theAsideNav(mainAsideNav,cur='5') }}
{% endblock %}


{# 加载页面内容 #}
{% block content %}
<div class="tabs-wrap type-two">
    <ul class="tabs">
        <li class="active">
            <a class="tabs-btn" href="#..." data-toggle="tab">
                可作按钮的标签或元素
            </a>
        </li>
        <li>
            <a class="tabs-btn" href="#..." data-toggle="tab">
                预定义样式
            </a>
        </li>
        <li>
            <a class="tabs-btn" href="#..." data-toggle="tab">
                尺寸
            </a>
        </li>
        <li>
            <a class="tabs-btn" href="#..." data-toggle="tab">
                排版
            </a>
        </li>
        <li>
            <a class="tabs-btn" href="#..." data-toggle="tab">
                按钮组
            </a>
        </li>
    </ul>
</div>
<!--<div class="">
    <div class="btn-group-box">
        <a href="" class="btn default">可作按钮的标签或元素</a>
        <a href="" class="btn default">预定义样式</a>
        <a href="" class="btn default">尺寸</a>
        <a href="" class="btn default">排版</a>
        <a href="" class="btn default">按钮组</a>
    </div>
</div>-->

<div class="tabs-content">
    <div class="tabs-panel active" id="tp1">
        <div class="example-wrap">
            <p class="example-description">
                为 <code>&lt;a&gt;</code> 、<code>&lt;button&gt;</code> 或 <code>&lt;input&gt;</code> 元素添加按钮的类，即可使用。
            </p>
        </div>
    </div>
    <div class="tabs-panel active" id="tp2">
        <div class="example-wrap">

        </div>
    </div>
    <div class="tabs-panel active" id="tp3">
        <div class="example-wrap">

        </div>
    </div>
    <div class="tabs-panel active" id="tp4">
        <div class="example-wrap">

        </div>
    </div>
    <div class="tabs-panel active" id="tp5">
        <div class="example-wrap">

        </div>
    </div>
</div>
{% endblock %}


{# 加载弹窗内容 #}
{% block modal %}
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
<script>
</script>
{% endblock %}