{% extends "_BrickPlus_layout/4-BP-GlobalStyle.html" %}


{# 填写页面 title #}
{% block title %}BrickPlus{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
</style>
{% endblock %}


{# 加载页面 body 设置，例如引用‘类’ #}
{% block bodyClass %}
{% endblock %}


{# 渲染页面导航 #}
{% block nav %}
{# 渲染主导航 #}
{{ navigator.theNav(mainNav,cur='2') }}
{# 渲染侧导航 #}
{{ asideNav.theAsideNav(mainAsideNav,cur='1') }}
{% endblock %}


{# 加载页面内容 #}
{% block content %}
<div class="tabs-content">
  <div class="tabs-panel active" id="tp1">
    <section class="example-wrap">
      <ul class="example-description">
        <li>
          BrickPlus 的栅格系统从 <a href="http://www.bootcss.com/" class="link-standard">Bootstrap</a> 完整引入，暂时并未对其进行订制式开发，
          <br>
          所以你可以通过阅读原装的 <a href="http://v3.bootcss.com/css/#grid" class="link-standard">Bootstrap 栅格系统教程</a> 了解用法。
          <br>
          ...
        </li>
      </ul>
    </section>
  </div>
</div>
{% endblock %}


{# 加载弹窗内容 #}
{% block modal %}
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
<script>
</script>
{% endblock %}
