{% extends "_BrickPlus_layout/6-BP-ComponentsJavaScript.html" %}


{# 填写页面 title #}
{% block title %}BrickPlus{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
</style>
{% endblock %}


{# 加载页面 body 设置，例如引用‘类’ #}
{% block bodyClass %}
{% endblock %}


{# 渲染页面导航 #}
{% block nav %}
{# 渲染主导航 #}
{{ navigator.theNav(mainNav,cur='4') }}
{# 渲染侧导航 #}
{{ asideNav.theAsideNav(mainAsideNav,cur='17') }}
{% endblock %}


{# 加载页面内容 #}
{% block content %}
{# 渲染标签页 #}
{{
tab.prototype(
tabs = [
{text: '概述', url: '#tp1'},
{text: '状态', url: '#tp2'},
{text: '组合', url: '#tp3'}
],
cur='1'
)
}}

<div class="tabs-content">
    <div class="tabs-panel active" id="tp1">
        <section class="example-wrap">
            <ul class="example-description">
                <li>
                    数据表格对分页组件主要获取ajax数据交互后进行渲染。
                </li>
                <li>
                </li>
            </ul>
            <div class="example">
                <div class="example-tag">实例</div>
                <div class="example-box">

                    <div class="form-group">
                        <div class="form-control-label"><span>搜索电话</span> <em>：</em></div>
                        <div class="form-control-wrap" style="width: 200px;">
                            <input id="search_1" name="phone" type="text" class="form-control" data-toggle="filter"
                                   pattern="number">
                        </div>
                        <button id="ok" type="button" class="btn thirdly"
                                style=" position: absolute;top: 0px; left: 395px;">搜索
                        </button>
                        <br>

                    </div>
                    <br>

                    <table class="table" id="dt">
                        <colgroup>
                            <col style="width: 180px">
                            <col style="width: 100px">
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col style="width: 100px">
                        </colgroup>
                        <thead>
                        <tr>
                            <th data-options="createTime" data-formatter="testFn" data-style="{'text-align':'center'}">
                                创建时间
                            </th>
                            <th data-options="province"> 业务类型</th>
                            <th data-options="channelNo"  data-style="{'text-align':'center'}"> 商品名称</th>
                            <th data-options="creator" data-formatter="typeFn"> 订单号</th>
                            <th data-options="corporation"> 对方账号</th>
                            <th data-options="contactPhone"> 余额</th>
                            <th data-options="status"  data-style="{'text-align':'left'}"> 收入</th>
                            <th data-options="city"> 支出</th>
                            <th data-options="op" data-formatter="opFn"  data-style="{'text-align':'right'}"> 操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="example-code">
         <pre><code>&lt;!-- HTML结构 --&gt;
             &lttable class="table" id="dt"&gt
             &ltcolgroup&gt
             &ltcol style="width: 180px"&gt
             &ltcol style="width: 100px"&gt
             &ltcol&gt
             &ltcol&gt
             &ltcol&gt
             &ltcol&gt
             &ltcol&gt
             &ltcol&gt
             &ltcol style="width: 100px"&gt
             &lt/colgroup&gt
             &ltthead&gt
             &lttr&gt
             &ltth data-options="createTime" data-formatter="testFn"&gt 创建时间&lt/th&gt
             &ltth data-options="province"&gt 业务类型&lt/th&gt
             &ltth data-options="channelNo"&gt 商品名称&lt/th&gt
             &ltth data-options="creator" data-formatter="typeFn"&gt 订单号&lt/th&gt
             &ltth data-options="corporation"&gt 对方账号&lt/th&gt
             &ltth data-options="contactPhone"&gt 余额&lt/th&gt
             &ltth data-options="status"&gt 收入&lt/th&gt
             &ltth data-options="city"&gt 支出&lt/th&gt
             &ltth data-options="op" data-formatter="opFn"&gt 操作&lt/th&gt
             &lt/tr&gt
             &lt/thead&gt
             &lt/table&gt
         </code></pre>
                </div>
            </div>

            <br/>
            <br/>
            <h2>配置参数</h2>
            <ul class="example-description">
                <li>
                </li>
            </ul>
            <div class="example fn-mb-20">
                <div class="example-tag">实例</div>
                <div class="example-box">
                    <div class="tables-wrap">

                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="tabs-panel" id="tp2">
    </div>
    <div class="tabs-panel" id="tp3">
    </div>
</div>
{% endblock %}


{# 加载弹窗内容 #}
{% block modal %}
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
<script src="{{static}}/js/brickplus/dataTable.js"></script>
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
<script>

    $('#dt').dataTable({
        url: "/api/t1/getDataInfo",
//        url: "/api/t1/getBankInfo",
        // toolbar: ['#search_1', '#search_2'],
        queryParams: function() {
            return {
                transferName: $('#search_1').val(),
                beginTime: $('#search_1').val() + '55888999',
            }
        },
        columns: [
            {field: "createTime", title: "创建时间", width: 100},
            {field: "province", title: "业务类型", width: 100},
            {field: "channelNo", title: "商品名称", width: 100},
            {field: "creator", title: "订单号", width: 100},
            {field: "corporation", title: "对方账号", width: 100},
            {field: "creator", title: "余额", width: 100},
            {
                field: "status", title: "收入", width: 100, formatter: function() {
            }
            },
            {field: "city", title: "支出", width: 100},
            {field: "op", title: "操作", width: 100}
        ]
    });
    $("#ok").click(function() {
        $('#dt').dataTable().draw();
    });
    //获取页脚信息 
    var page = $('#dt').dataTable('getPagination');
    //
    function testFn(value, row, index) {
        var text = value || '';
        return "<div style=\"color: #00b7ee\" title=\"" + text + "\">+" + text + "</div>";
    }
    function typeFn(value, row, index) {
        switch(value) {
            case '1':
                return "<div style=\"color: #00b7ee\">类型1</div>";
                break;
            case '2':
                return "<div style=\"color: #7a43b6\">类型2</div>";
                break;
            default:
                return "没有";
                break;
        }
        return "";
    }
    function opFn(value, row, index) {
        return "<div class=\"btn-group-box smaller-btn-gb\">" +
                "<button type=\"button\" class=\"btn default\">详情:" + index + "</button>" +
                "<button type=\"button\" class=\"btn default dropdown-menu-btn\"></button>" +
                "</div>";
    }

</script>
{% endblock %}
