{% extends "_BrickPlus_layout/6-BP-ComponentsJavaScript.html" %}


{# 填写页面 title #}
{% block title %}BrickPlus{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}

{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
</style>
{% endblock %}


{# 加载页面 body 设置，例如引用‘类’ #}
{% block bodyClass %}
{% endblock %}


{# 渲染页面导航 #}
{% block nav %}
{# 渲染主导航 #}
{{ navigator.theNav(mainNav,cur='4') }}
{# 渲染侧导航 #}
{{ asideNav.theAsideNav(mainAsideNav,cur='15') }}
{% endblock %}


{# 加载页面内容 #}
{% block content %}
<div class="tabs-content">
  <div class="tabs-panel active" id="tp1">
    <section class="example-wrap">
        <h2>验证使用nic validator</h2>

      <ul class="example-description">
        <li>更多验证规则请<a target="_blank" href="https://niceue.com/validator/">参考</a></li>
        <li>
            使用JS验证https://niceue.com/validator/demo/custom-rule.php
        </li>
      </ul>

      <div class="example">
        <div class="example-tag">实例</div>
        <div class="example-box">

            <form id="demo_101" action="results.php" method="post" autocomplete="off"
                data-validator-option="{theme:'yellow_top',stopOnError:true}"
            >
            <fieldset>
                <!-- 定义了mobile规则，并且通过data-rule使用 -->
                <input name="mobile" placeholder="手机号"
                    data-rule="required; mobile"
                    data-rule-mobile="[/^1[3458]\d{9}$/, '请检查手机号格式']"
                >
            </fieldset>
            <button type="submit">提交</button>
            </form>



        <div class="example-code">
          <pre>
            <code>
                必须按照指定格式，才有样式，源码有小修改。
                "has-( 成功 / 错误 / 警告 )"
                "has-( correct / error / warning )"
                &lt;div class=&quot;form-group has-error fn-mb-40&quot;&gt;
                    &lt;label class=&quot;form-control-label&quot; for=&quot;FormVerify1&quot;&gt;
                        &lt;span&gt;keyin&lt;/span&gt;
                    &lt;/label&gt;
                    &lt;div class=&quot;form-control-wrap&quot;&gt;
                        &lt;div&gt;
                            &lt;input type=&quot;text&quot; class=&quot;form-control&quot; name=&quot;name&quot; data-rule=&quot;Name:required&quot; &gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;form-item&quot;&gt;
                        &lt;button type=&quot;submit&quot; class=&quot;btn default&quot;&gt;Submit&lt;/button&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            </code>
          </pre>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}


{# 加载弹窗内容 #}
{% block modal %}
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
<script src="{{static}}/js/brickplus/validator.js"></script>
{% endblock %}


{# 编写页面内联 javascript 代码 #}

{% block jsPage %}

{% endblock %}
