{% extends "_BrickPlus_layout/6-BP-ComponentsJavaScript.html" %}


{# 填写页面 title #}
{% block title %}BrickPlus{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
</style>
{% endblock %}


{# 加载页面 body 设置，例如引用‘类’ #}
{% block bodyClass %}
{% endblock %}


{# 渲染页面导航 #}
{% block nav %}
{# 渲染主导航 #}
{{ navigator.theNav(mainNav,cur='4') }}
{# 渲染侧导航 #}
{{ asideNav.theAsideNav(mainAsideNav,cur='8') }}
{% endblock %}


{# 加载页面内容 #}
{% block content %}
<div id="top"></div>
<div class="tabs-content">
  <div class="tabs-panel active" id="tp1">
    <section class="example-wrap">
      <h2>概述</h2>
      <ul class="example-description">
        <li>
          增强类似于锚点跳转到某位置，动画渐渐跳转效果。
        </li>
        <li>
          为触发元素绑定<code>data-toggle="smoothScroll"</code>
        </li>
        <li>
          <code>a</code>标签连接直接设置连接的<code>hash</code>，其他元素则添加<code>data-target="#id"</code>
        </li>
      </ul>
      <div class="example fn-mb-20">
        <div class="example-tag">实例</div>
        <div class="example-box">
          <a href="#top" class="btn small-btn default" data-toggle="smooth-scroll">去顶部</a>
          <a href="#bottom" class="btn small-btn default" data-toggle="smooth-scroll">去底部</a>
        </div>
        <div class="example-code">
          <pre>
            <code>
&lt;a href="#top" class="btn small-btn default" data-toggle="smooth-scroll"&gt;去顶部&lt;/a&gt;
&lt;a href="#bottom" class="btn small-btn default" data-toggle="smooth-scroll"&gt;去底部&lt;/a&gt;
            </code>
          </pre>
        </div>
      </div>
      <h2>偏移</h2>
      <ul class="example-description">

        <li>
          设置偏移<code>offset</code>让滚动条滚动到离目标位置一定距离。
        </li>
      </ul>
      <div class="example fn-mb-20">
        <div class="example-tag">实例</div>
        <div class="example-box">
          <a href="#offset" id="offset-btn" class="btn small-btn default" data-offset="-20" data-toggle="smooth-scroll">去offset上方20px位置</a>
        </div>
        <div class="example-code">
          <pre>
            <code>
&lt;a href="#top" class="btn small-btn default" data-offset="-20" data-toggle="smooth-scroll"&gt;去顶部&lt;/a&gt;
            </code>
          </pre>
        </div>
      </div>
      <div id="offset"></div>
      <h2>事件监听</h2>
      <ul class="example-description">

        <li>
          为元素添加 <code>done.bp.smoothscroll</code> 或者JS调用配置 <code>complete</code>  来监听滚动完成事件。
        </li>
      </ul>
      <div class="example fn-mb-20">
        <div class="example-tag">实例</div>
        <div class="example-box">
          <div class="tables-wrap">
            <table class="table">
              <thead>
                <tr>
                  <th>属性</th>
                  <th>默认值</th>
                  <th>描述</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    duration
                  </td>
                  <td>
                    500
                  </td>
                  <td>
                    动画时间
                  </td>
                </tr>
                <tr>
                  <td>
                    transition
                  </td>
                  <td>
                    easeOutExpo
                  </td>
                  <td>
                    动画类型名称
                  </td>
                </tr>
                <tr>
                  <td>
                    offset
                  </td>
                  <td>
                    0
                  </td>
                  <td>
                    目标偏移位置多少像素
                  </td>
                </tr>
                <tr>
                  <td>
                    complete
                  </td>
                  <td>
                    function() {}
                  </td>
                  <td>
                    完成回调
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="example-code">
          <pre>
            <code>
$('#j-offset').on('done.bp.smoothscroll', function(){ alert('到达offset偏移'); })
            </code>
          </pre>
        </div>
      </div>
      <h2>接口方法</h2>
      <div class="example fn-mb-20">
        <div class="example-tag">实例</div>
        <div class="example-box">
          <button type="button" id="demo" class="btn default small-btn">接口设置跳转</button>
        </div>
        <div class="example-code">
          <pre>
            <code>
$(function() {
  $('#demo').on('click', function() {
    var offset = Math.floor(Math.random() * 100 * 2)
    $('#offset-btn').smoothScroll('scrollTo', {
      offset: -offset,
      complete: function() {
        alert('done')
      }
    })
  })
})
            </code>
          </pre>
        </div>
      </div>
    </section>
  </div>
</div>
<div id="bottom"></div>
{% endblock %}


{# 加载弹窗内容 #}
{% block modal %}
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
<script src="{{static}}/js/brickplus/smoothScroll.js"></script>
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
<script>
$(function() {
  $('#demo').on('click', function() {
    var offset = Math.floor(Math.random() * 100 * 2)
    $('#offset-btn').smoothScroll('scrollTo', {
      offset: -offset,
      complete: function() {
        alert('done')
      }
    })
  })
})
</script>
{% endblock %}
