{% extends "_BrickPlus_layout/6-BP-ComponentsJavaScript.html" %}


{# 填写页面 title #}
{% block title %}BrickPlus{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
</style>
{% endblock %}


{# 加载页面 body 设置，例如引用‘类’ #}
{% block bodyClass %}
{% endblock %}


{# 渲染页面导航 #}
{% block nav %}
{# 渲染主导航 #}
{{ navigator.theNav(mainNav,cur='4') }}
{# 渲染侧导航 #}
{{ asideNav.theAsideNav(mainAsideNav,cur='24') }}
{% endblock %}


{# 加载页面内容 #}
{% block content %}
<div class="tabs-content">
  <div class="tabs-panel active" id="tp1">
    <section class="example-wrap">
      <h1>加载</h1>
      <ul class="example-description">
        <li>
          加载分成两种，一种是按钮状态，一种是遮罩层方式
        </li>
      </ul>

      <br>
      <br>
      <h2>按钮模式</h2>
      <ul class="example-description">
        <li>
          使用<code>data-toggle="spin" data-btn="true"</code>绑定
        </li>
      </ul>
      <div class="example">
        <div class="example-tag">实例</div>
        <div class="example-box">
          <button class="btn default" data-toggle="spin" data-btn="true">加载更多 <i class="icon-chevron-thin-down"></i></button>
        </div>
        <div class="example-code">
          <pre><code>
var spinBtn = $('button[data-toggle="spin"]')
spinBtn.on('spinning.bp', function() {
  // 3s 后加载完成
  setTimeout(function() {
    spinBtn.spin('end')
  }, 3000)
})            
</code></pre>
        </div>
      </div>
      <br>
      <br>
      <h2>遮罩模式</h2>
      <ul class="example-description">
        <li>
          使用<code>$(selector).spin('spinnig')</code>显示
        </li>
      </ul>
      <div class="example">
        <div class="example-tag">实例</div>
        <div class="example-box">
          <button class="btn default" id="j-btn-demo2">加载更多</button>
        </div>
        <div class="example-code">
          <pre><code>
// demo2
var spin = new $.Spin
$('#j-btn-demo2').on('click', function() {
  spin.spinning()
})

spin.el.on('spinning.bp', function() {
  // 3s 后加载完成
  setTimeout(function() {
    console.log('end')
    spin.end()
  }, 3000)
})         
</code></pre>
        </div>
      </div>

      <br>
      <br>
      <h2>区域模式</h2>
      <ul class="example-description">
        <li>
          使用<code>$(selector).spin('spinnig')</code>显示
        </li>
      </ul>
      <div class="example">
        <div class="example-tag">实例</div>
        <div class="example-box">
          <div id="demo-zone-3" class="sim-body">
            <div class="sim-body-main"></div>
          </div>
          <button class="btn default" id="j-btn-demo3">加载更多</button>
        </div>
        <div class="example-code">
          <pre><code>
// demo2
var spin = new $.Spin
$('#j-btn-demo2').on('click', function() {
  spin.spinning()
})

spin.el.on('spinning.bp', function() {
  // 3s 后加载完成
  setTimeout(function() {
    console.log('end')
    spin.end()
  }, 3000)
})         
</code></pre>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}


{# 加载弹窗内容 #}
{% block modal %}
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
<script src="{{static}}/js/brickplus/spin.js"></script>
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
<script>
  $(function() {
    var spinBtn = $('button[data-toggle="spin"]')
    spinBtn.on('spinning.bp', function() {
      // 3s 后加载完成
      setTimeout(function() {
        spinBtn.spin('end')
      }, 3000)
    })


    // demo2
    var spin = new $.Spin
    $('#j-btn-demo2').on('click', function() {
      spin.spinning()
    })

    spin.el.on('spinning.bp', function() {
      // 3s 后加载完成
      setTimeout(function() {
        console.log('end')
        spin.end()
      }, 3000)
    })

    // demo3
    var spin3 = new $.Spin({ parent: '#demo-zone-3' })
    $('#j-btn-demo3').on('click', function() {
      spin3.spinning()
    })

    spin3.el.on('spinning.bp', function() {
      // 3s 后加载完成
      setTimeout(function() {
        console.log('end')
        spin3.end()
      }, 3000)
    })
  })
</script>
{% endblock %}
