{% extends "_BrickPlus_layout/6-BP-ComponentsJavaScript.html" %}


{# 填写页面 title #}
{% block title %}BrickPlus{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
  .carousel > ul > li {
    padding: 30px 50px;
    text-align: center;
  }
  .carousel > ul > li > a {
    display: block;
    height: 300px;
    line-height: 300px;
  }
  .carousel > ul > li > a > img {
    display: inline-block;
    vertical-align: middle;
  }
</style>
{% endblock %}


{# 加载页面 body 设置，例如引用‘类’ #}
{% block bodyClass %}
{% endblock %}


{# 渲染页面导航 #}
{% block nav %}
{# 渲染主导航 #}
{{ navigator.theNav(mainNav,cur='4') }}
{# 渲染侧导航 #}
{{ asideNav.theAsideNav(mainAsideNav,cur='14') }}
{% endblock %}


{# 加载页面内容 #}
{% block content %}
<div class="tabs-content">
  <div class="tabs-panel active" id="tp1">
    <section class="example-wrap">
      <h2>轮播组件</h2>
      <ul class="example-description">
        <li>
          轮播可以用于banner多列表信息滚动，数据模块信息滚动。
        </li>
      </ul>
      <div class="example">
        <div class="example-tag">实例一</div>
        <div class="example-box">
          <div class="carousel" data-toggle="carousel">
            <ul>
              <li>
                <h1>1</h1>
              </li>
              <li>
                <h1>2</h1>
              </li>
              <li>
                <h1>3</h1>
              </li>
            </ul>
          </div>
        </div>
        <div class="example-code">
         <pre><code>&lt;div class="carousel" data-toggle="carousel"&gt;
    &lt;ul&gt;
      &lt;li&gt;
        &lt;h1&gt;1&lt;/h1&gt;
      &lt;/li&gt;
      &lt;li&gt;
        &lt;h1&gt;2&lt;/h1&gt;
      &lt;/li&gt;
      &lt;li&gt;
        &lt;h1&gt;3&lt;/h1&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</code></pre>
        </div>
      </div>
      <br>
      <br>
      <div class="example">
        <div class="example-tag">实例二</div>
        <div class="example-box">
          <div class="carousel" data-toggle="carousel" data-dots="true" data-prev="#prev" data-next="#next">
            <ul>
              <li>
                <a href="http://www.frontpay.cn"><img src="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo/bd_logo1_31bdc765.png" alt=""></a>
              </li>
              <li>
                <a href="http://www.frontpay.cn"><img src="https://www.sogou.com/index/images/logo_440x140.png" alt=""></a>
              </li>
              <li>
                <a href="http://www.frontpay.cn"><img src="http://p3.qhmsg.com/t01b7cb83f41d31a8bf.png" alt=""></a>
              </li>
            </ul>
          </div>

          <a href="#" class="btn primary" id="prev">上一张</a>
          <a href="#" class="btn thirdly" id="next">下一张</a>
        </div>
        <div class="example-code">
        <pre><code>&lt;div class="carousel" data-toggle="carousel" data-dots="true" data-prev="#prev" data-next="#next"&gt;
    &lt;ul&gt;
      &lt;li&gt;
        &lt;a href="http://www.frontpay.cn"&gt;&lt;img src="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo/bd_logo1_31bdc765.png" alt=""&gt;&lt;/a&gt;
      &lt;/li&gt;
      &lt;li&gt;
        &lt;a href="http://www.frontpay.cn"&gt;&lt;img src="https://www.sogou.com/index/images/logo_440x140.png" alt=""&gt;&lt;/a&gt;
      &lt;/li&gt;
      &lt;li&gt;
        &lt;a href="http://www.frontpay.cn"&gt;&lt;img src="http://p3.qhmsg.com/t01b7cb83f41d31a8bf.png" alt=""&gt;&lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;

&lt;!-- 外部控制 --&gt;
&lt;a href="#" class="btn primary" id="prev"&gt;上一张&lt;/a&gt;
&lt;a href="#" class="btn thirdly" id="next"&gt;下一张&lt;/a&gt;
</code></pre>
        </div>
      </div>

      <br>
      <br>
      <h2>参数配置</h2>
      <div class="example fn-mb-20">
        <div class="example-tag">实例</div>
        <div class="example-box">
          <div class="tables-wrap">
            <table class="table">
              <thead>
                <tr>
                  <th>属性</th>
                  <th>默认值</th>
                  <th>描述</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    css3
                  </td>
                  <td>
                    true
                  </td>
                  <td>
                    css3动画优先
                  </td>
                </tr>
                <tr>
                  <td>
                    speed
                  </td>
                  <td>
                    300
                  </td>
                  <td>
                    切换动画时间间隔
                  </td>
                </tr>
                <tr>
                  <td>
                    delay
                  </td>
                  <td>
                    null
                  </td>
                  <td>
                    自动轮播，当值大于0时启动
                  </td>
                </tr>
                <tr>
                  <td>
                    complete
                  </td>
                  <td>
                    $.noop
                  </td>
                  <td>
                    切换完成回调
                  </td>
                </tr>
                <tr>
                  <td>
                    keys
                  </td>
                  <td>
                    null
                  </td>
                  <td>
                    键盘控制按键
                  </td>
                </tr>
                <tr>
                  <td>
                    dots
                  </td>
                  <td>
                    null
                  </td>
                  <td>
                    是否显示索引
                  </td>
                </tr>
                <tr>
                  <td>
                    fluid
                  </td>
                  <td>
                    true
                  </td>
                  <td>
                    是否响应式
                  </td>
                </tr>
                <tr>
                  <td>
                    prev
                  </td>
                  <td>
                    null
                  </td>
                  <td>
                    上一张按钮
                  </td>
                </tr>
                <tr>
                  <td>
                    next
                  </td>
                  <td>
                    null
                  </td>
                  <td>
                    下一张按钮
                  </td>
                </tr>
                <tr>
                  <td>
                    arrows
                  </td>
                  <td>
                    true
                  </td>
                  <td>
                    是否显示箭头图标
                  </td>
                </tr>
                <tr>
                  <td>
                    prevText
                  </td>
                  <td>
                    '&lt;'
                  </td>
                  <td>
                    上一张按钮文字
                  </td>
                </tr>
                <tr>
                  <td>
                    nextText
                  </td>
                  <td>
                    '&gt;'
                  </td>
                  <td>
                    下一张按钮文字
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}


{# 加载弹窗内容 #}
{% block modal %}
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
<script src="{{static}}/js/brickplus/carousel.js"></script>
<script>
</script>
{% endblock %}
