{% extends "_BrickPlus_layout/6-BP-ComponentsJavaScript.html" %}


{# 填写页面 title #}
{% block title %}BrickPlus{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
</style>
{% endblock %}


{# 加载页面 body 设置，例如引用‘类’ #}
{% block bodyClass %}
{% endblock %}


{# 渲染页面导航 #}
{% block nav %}
{# 渲染主导航 #}
{{ navigator.theNav(mainNav,cur='4') }}
{# 渲染侧导航 #}
{{ asideNav.theAsideNav(mainAsideNav,cur='9') }}
{% endblock %}


{# 加载页面内容 #}
{% block content %}
{# 渲染标签页 #}
{{
  tab.prototype(
    tabs = [
      {text: '概述', url: '#tp1'},
      {text: '状态', url: '#tp2'},
      {text: '组合', url: '#tp3'}
    ],
    cur='1'
  )
}}
<div class="tabs-content">
  <div class="tabs-panel active" id="tp1">
    <section class="example-wrap">
      <ul class="example-description">
        <li>
          分页组件是试用Javascript动态创建分页dom，主要使用在于ajax数据交互的场景。
        </li>
        <li>
          在<code>ul</code>元素上定义了<code>pagination</code>类就可以启动分页组件。
        </li>
      </ul>
      <div class="example">
        <div class="example-tag">实例</div>
        <div class="example-box">
          <h1 id="j-page-text1">page1</h1>
          <br />
          <nav class="pagination-box">
            <ul class="paginations" id="j-page-deom1" data-total-pages="20"></ul>
          </nav>
        </div>
        <div class="example-code">
         <pre><code>&lt;!-- HTML结构 --&gt;
&lt;nav class="pagination-box"&gt;
    &lt;ul class="paginations" id="j-page-deom1"  data-total-pages="20"&gt;&lt;/ul&gt;
&lt;/nav&gt;

&lt;!-- js --&gt;
$('#j-page-deom1').on('select.bp.pagination', function(e, page) {
  $('#j-page-text1').html('page'+ page)
})
</code></pre>
        </div>
      </div>

      <br />
      <br />
      <h2>配置参数</h2>
      <ul class="example-description">
        <li>
          <code>pagination</code>插件可以通过<code>jQuery</code>的<code>$(selector).pagination(option)</code>绑定
        </li>
        <li>
          也可以通过<code>data-toggle="timer-picker"</code>绑定全局插件，可以配置<code>data-*</code>配置项参数。
        </li>
        <li>
          注意属性的转换，需用中划线隔开大写字母，比如<code>totalPages</code>需写成<code>data-total-pages</code>
        </li>
        <li>
          <code>$(selector).pagination('go', page)</code> 方法可以直接调用跳转到某页
        </li>
        <li>
          <code>$(selector).pagination('reset', option)</code> 方法可以直接调用跳转到某页
        </li>
        <li>
          <code>$(selector).pagination('render', pages)</code> 方法可以重新更新分页数
        </li>
        <li>
          <code>$(selector).on('select.bp.pagination', function(e, page) {})</code> 页面跳转触发
        </li>
      </ul>
      <div class="example fn-mb-20">
        <div class="example-tag">实例</div>
        <div class="example-box">
          <div class="tables-wrap">
            <table class="table">
              <thead>
                <tr>
                  <th>属性</th>
                  <th>默认值</th>
                  <th>描述</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    items
                  </td>
                  <td>
                    0
                  </td>
                  <td>
                    总记录数
                  </td>
                </tr>
                <tr>
                  <td>
                    itemsOnPage
                  </td>
                  <td>
                    5
                  </td>
                  <td>
                    每页记录数
                  </td>
                </tr>
                <tr>
                  <td>
                    totalPages
                  </td>
                  <td>
                    0
                  </td>
                  <td>
                    总页数
                  </td>
                </tr>
                <tr>
                  <td>
                    visiblePages
                  </td>
                  <td>
                    5
                  </td>
                  <td>
                    显示页码区间长度
                  </td>
                </tr>
                <tr>
                  <td>
                    edges
                  </td>
                  <td>
                    1
                  </td>
                  <td>
                    边缘页码
                  </td>
                </tr>
                <tr>
                  <td>
                    currentPage
                  </td>
                  <td>
                    1
                  </td>
                  <td>
                    初始化当前页
                  </td>
                </tr>
                <tr>
                  <td>
                    pageStr
                  </td>
                  <td>
                    {
                      show: false,
                      template: ''
                  }
                  </td>
                  <td>
                    分页总码数字符
                    <br />
                    show - 是否显示
                    <br />
                    template 字符模板
                  </td>
                </tr>
                <tr>
                  <td>
                    disabledPages
                  </td>
                  <td>
                    []
                  </td>
                  <td>
                    不可用页码
                  </td>
                </tr>
                <tr>
                  <td>
                    prev
                  </td>
                  <td>
                    '&lsaquo;'
                  </td>
                  <td>
                    上一页文字
                  </td>
                </tr>
                <tr>
                  <td>
                    next
                  </td>
                  <td>
                    '&rsaquo;'
                  </td>
                  <td>
                    下一页文字
                  </td>
                </tr>
                <tr>
                  <td>
                    first
                  </td>
                  <td>
                    '&laquo;'
                  </td>
                  <td>
                    首页页码文字
                  </td>
                </tr>
                <tr>
                  <td>
                    last
                  </td>
                  <td>
                    '&raquo;'
                  </td>
                  <td>
                    尾页文字
                  </td>
                </tr>
                <tr>
                  <td>
                    onSelectPage
                  </td>
                  <td>
                    $.noop
                  </td>
                  <td>
                    选择页码切换后回调函数
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="tabs-panel" id="tp2">
    <section class="example-wrap">
      <ul class="example-description">
        <li>
          当我们设置禁用页码时，该页码将不可点击切换。
        </li>
      </ul>
      <div class="example">
        <div class="example-tag">实例</div>
        <div class="example-box">
          <nav class="pagination-box">
            <h1 id="j-page-text2">page1</h1>
            <br />
            <ul class="paginations" data-total-pages="20" id="j-page-demo2"></ul>
          </nav>
        </div>
        <div class="example-code">
          <pre>
            <code>
$('#j-page-demo2').on('select.bp.pagination', function(e, page) {
  $('#j-page-text2').html('demo2-page'+ page)
})
//$('#j-page-demo2').pagination('reset', { disabledPages: [2, 5] })
$('#j-page-demo2').pagination('reset', { 
    currentPage: 2,
    disabledPages: (function() {
      var res = [], i = 0
      for(; i < 20; i++) {
        if(i % 5 === 0) res.push(i)
      }

      return res
    })()
})
            </code>
          </pre>
        </div>
      </div>
    </section>
  </div>
  <div class="tabs-panel" id="tp3">
    <section class="example-wrap">
      <ul class="example-description">
        <li>
          通过组合控件，更方便用户可以自定每页记录数或者直接跳转到某一页。
        </li>
      </ul>
      <div class="example">
        <div class="example-tag">实例</div>
        <div class="example-box">
          <h1 id="j-page-text3">page1</h1>
          <br />
          <nav class="pagination-box text-align-center">
                      <ul class="paginations" id="j-page-demo3" data-total-pages="10"></ul>
                      <div class="p-add-ons fn-ml-15">
                        <div class="form-group form-gs form-no-label">
                          <div class="form-gs-box">
                            <div class="form-control-wrap"> <input type="text" class="form-control" placeholder="跳转" id="j-page-input-3"> </div>
                            <div class="form-addon child-right">页</div>
                            <div class="form-addon-com"> <button type="button" class="btn default" id="j-page-btn3">GO</button> </div>
                          </div>
                        </div>
                      </div>
                      <div class="p-add-ons fn-ml-15">
                        <div class="form-group form-gs form-no-label">
                          <div class="form-gs-box">
                            <div class="form-addon">每页</div>
                            <div class="form-control-wrap"> <select class="form-control" id="j-page-itempage-3">
                      <option>20</option>
                      <option>60</option>
                      <option>100</option>
                    </select> </div>
                            <div class="form-addon">条</div>
                          </div>
                        </div>
                      </div>
                    </nav>
        </div>
        <div class="example-code">
          <pre>
            <code>
$('#j-page-demo3').on('select.bp.pagination', function(e, page) {
  $('#j-page-text3').html('demo3-page'+ page)
})

$('#j-page-demo3').pagination('reset', {
  items: 200,
  pageStr: {
    show: true
  }
})

// 控制跳转
$('#j-page-btn3').on('click', function() {
  var page = $.trim($('#j-page-input-3').val())
  if(page !== '') {
    $('#j-page-demo3').pagination('go', parseInt(page))
    $('#j-page-input-3').val('')
  }
})

// 每页记录数
$('#j-page-itempage-3').on('change', function() {
  var itemsOnPage = $(this).val()
  $('#j-page-demo3').pagination('reset', { itemsOnPage: itemsOnPage })
})
            </code>
          </pre>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}


{# 加载弹窗内容 #}
{% block modal %}
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
<script src="{{static}}/js/brickplus/pagination.js"></script>
<script>
  $(function() {
    $('#j-page-deom1').on('select.bp.pagination', function(e, page) {
      $('#j-page-text1').html('page'+ page)
    })

    $('#j-page-demo2').on('select.bp.pagination', function(e, page) {
      $('#j-page-text2').html('demo2-page'+ page)
    })
    //$('#j-page-demo2').pagination('reset', { disabledPages: [2, 5] })
    $('#j-page-demo2').pagination('reset', { 
        currentPage: 2,
        disabledPages: (function() {
          var res = [], i = 0
          for(; i < 20; i++) {
            if(i % 5 === 0) res.push(i)
          }

          return res
        })()
    })
    
    
    $('#j-page-demo3').on('select.bp.pagination', function(e, page) {
      $('#j-page-text3').html('demo3-page'+ page)
    })

    $('#j-page-demo3').pagination('reset', {
      items: 200,
      pageStr: {
        show: true
      }
    })

    // 控制跳转
    $('#j-page-btn3').on('click', function() {
      var page = $.trim($('#j-page-input-3').val())
      if(page !== '') {
        $('#j-page-demo3').pagination('go', parseInt(page))
        $('#j-page-input-3').val('')
      }
    })

    // 每页记录数
    $('#j-page-itempage-3').on('change', function() {
      var itemsOnPage = $(this).val()
      $('#j-page-demo3').pagination('reset', { itemsOnPage: itemsOnPage })
    })
  })
</script>
{% endblock %}
