{% extends "_BrickPlus_layout/System-Layout.html" %}


{# 填写页面 title #}
{% block title %}system{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
</style>
{% endblock %}


{# 渲染系统导航 #}
{% block SystemNav %}


  {# 渲染系统顶部导航 #}
  {{ systemNavigator.systemTopNav(pl,stnBtns,topNavThemesList,userMenu,username='rayalienkiss',productName='E+账户管理后台') }}

  {# 渲染系统侧导航 #}
  {{ systemNavigator.systemAside(lv1,lv1cur='0',lv2cur='0',lv3cur='0') }}

  {# 渲染系统附加导航 #}
  {{ systemNavigator.systemAssistNav(assistNav) }}


{% endblock %}


{# 加载页面内容 #}
{% block content %}

{# 渲染路径导航 #}
{{
  breadcrumb.default(
    list = [
      {link: 'javascript:void(0);', text:'首页'},
      {link: 'javascript:void(0);', text:'二级导航'},
      {link: 'javascript:void(0);', text:'三级导航'},
      {text: '当前位置'}
    ],
    fixedClass='fn-pa-15 default-border-b'
  )
}}

{% endblock %}


{# 加载弹窗内容 #}
{% block modal %}
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
<script>
</script>
{% endblock %}
