{% extends "_BrickPlus_layout/1-BP-Base.html" %}


{# 引用公共样式表 #}
{% block globalCss %}
	<link rel="stylesheet" href="{{ static }}/css/BrickPlus.css?v={{ version }}">
{% endblock %}


{# 加载主导航 #}
{% import "_BrickPlus_components/navigator.html" as navigator %}

{# 加载侧导航导航 #}
{% import "_BrickPlus_components/asideNav.html" as asideNav %}

{# 加载页脚 #}
{% import "_BrickPlus_components/footer.html" as footer %}


{# 公共Dom树 #}
{% block body %}
    <div class="main">
        <div class="brick-app-sim-wrap">

            {# 设置主导航 #}
            {%
                set mainNav = [
                    {text: '起步', url: 'BP-Start-Download.html'},
                    {text: '全局样式', url: 'BP-GlobalStyle-Grid.html'},
                    {text: '组件', url: 'BP-ComponentsStyle-BreadCrumb.html'},
                    {text: 'JavaScript 插件', url: 'BP-JavaScriptComponents-CheckAll.html'},
                    {text: 'GitHub', url: 'javascript:;void(0)'}
                ]
            %}

            {# 加载页面内容 #}
            {% block content %}
            {% endblock %}

            {{ footer.theFooter() }}

        </div>
    </div>
{% endblock %}


{# 引用公共 javascript 文件 #}
{% block globalJs %}
    <script src="{{ bower_components }}/jquery/dist/jquery.min.js?v={{ version }}"></script>
    <script src="{{ static }}/js/common.js?v={{ version }}"></script>
    <script src="{{ static }}/js/framework.js?v={{ version }}"></script>
{% endblock %}
