{% extends "_BrickPlus_layout/2-BP-Layout.html" %}

{# 设置侧导航 #}
{%
  set mainAsideNav = [
    {text: '路径导航', url: 'BP-ComponentsStyle-BreadCrumb.html'},
    {text: '标签页', url: 'BP-ComponentsStyle-Tab.html'},
    {text: '模态窗', url: 'BP-ComponentsStyle-Modal.html'},
    {text: '警告框', url: 'BP-ComponentsStyle-Alerts.html'},
    {text: '任务结果提示', url: 'BP-ComponentsStyle-ResultNotice.html'},
    {text: '进度条', url: 'BP-ComponentsStyle-ProgressBar.html'},
    {text: '步骤', url: 'BP-ComponentsStyle-Step.html'},
    {text: '分页', url: 'BP-ComponentsStyle-Pagination.html'},
    {text: '面板', url: 'BP-ComponentsStyle-Panel.html'},
    {text: '加载动画', url: 'BP-ComponentsStyle-Spinner.html'},
    {text: '开关', url: 'BP-ComponentsStyle-Switch.html'},
    {text: '404', url: 'BP-ComponentsStyle-404.html'}
  ]
%}
