{% extends "_BrickPlus_layout/BP-Layout-Script.html" %}

{# 设置侧导航 #}
{%
  set mainAsideNav = [
    {text: '全选', url: 'BP-JavaScriptComponents-CheckAll.html'},
    {text: '警告框', url: 'BP-JavaScriptComponents-Alert.html'},
    {text: '下拉框', url: 'BP-JavaScriptComponents-Dropdown.html'},
    {text: 'tooltips 提示', url: 'BP-JavaScriptComponents-Tooltip.html'},
    {text: '切换器', url: 'BP-JavaScriptComponents-Switcher.html'},
    {text: '选项卡', url: 'BP-JavaScriptComponents-Tab.html'},
    {text: '平滑滚动', url: 'BP-JavaScriptComponents-SmoothScroll.html'},
    {text: '分页', url: 'BP-JavaScriptComponents-Pagination.html'},
    {text: '弹层', url: 'BP-JavaScriptComponents-Modal.html'},
    {text: '通知', url: 'BP-JavaScriptComponents-Notify.html'},
    {text: '日历', url: 'BP-JavaScriptComponents-DateTimePicker.html'},
    {text: '图表', url: 'BP-JavaScriptComponents-Charts.html'},
    {text: '轮播', url: 'BP-JavaScriptComponents-Slider.html'},
    {text: '表单验证', url: 'BP-JavaScriptComponents-Validation.html'},
    {text: '文件上传', url: 'BP-JavaScriptComponents-FileUpload.html'},
    {text: '数据表格DataTables', url: 'BP-JavaScriptComponents-DataTables.html'}
  ]
%}
