{% extends "_BrickPlus_layout/BP-Layout-Script.html" %}

{# 设置侧导航 #}
{%
  set mainAsideNav = [
    {text: '工具类', url: 'BP-JavaScriptComponents-Util.html'},
    {text: '全选', url: 'BP-JavaScriptComponents-CheckAll.html'},
    {text: '警告框', url: 'BP-JavaScriptComponents-Alert.html'},
    {text: '下拉框', url: 'BP-JavaScriptComponents-Dropdown.html'},
    {text: 'tooltips 提示', url: 'BP-JavaScriptComponents-Tooltip.html'},
    {text: '占位符', url: 'BP-JavaScriptComponents-Placeholder.html'},
    {text: '选项卡', url: 'BP-JavaScriptComponents-Tab.html'},
    {text: '平滑滚动', url: 'BP-JavaScriptComponents-SmoothScroll.html'},
    {text: '分页', url: 'BP-JavaScriptComponents-Pagination.html'},
    {text: '弹层', url: 'BP-JavaScriptComponents-Modal.html'},
    {text: '通知', url: 'BP-JavaScriptComponents-Notify.html'},
    {text: '日历选择器', url: 'BP-JavaScriptComponents-DateTimePicker.html'},
    {text: '图表', url: 'BP-JavaScriptComponents-Charts.html'},
    {text: '轮播', url: 'BP-JavaScriptComponents-Carousel.html'},
    {text: '表单验证', url: 'BP-JavaScriptComponents-Validation.html'},
    {text: '文件上传', url: 'BP-JavaScriptComponents-FileUpload.html'},
    {text: '数据表格DataTables', url: 'BP-JavaScriptComponents-DataTables.html'},
    {text: '城市级联', url: 'BP-JavaScriptComponents-Cascader.html'},
    {text: '树形选择器', url: 'BP-JavaScriptComponents-TreeSelect.html'},
    {text: '时间选择器', url: 'BP-JavaScriptComponents-TimePicker.html'},
    {text: '多项选择器', url: 'BP-JavaScriptComponents-MutilSelect.html'},
    {text: '日历', url: 'BP-JavaScriptComponents-Calendar.html'},
    {text: '折叠面板', url: 'BP-JavaScriptComponents-Panel.html'},
    {text: '加载', url: 'BP-JavaScriptComponents-Spiner.html'},
    {text: 'PDF预览', url: 'BP-JavaScriptComponents-PDFView.html'},
    {text: '开关', url: 'BP-JavaScriptComponents-switch.html'},
    {text: '进度条', url: 'BP-JavaScriptComponents-progress.html'}
  ]
%}
