{% extends "_BrickPlus_layout/1-BP-Base.html" %}


{# 引用公共样式表 #}
{% block globalCss %}
<link rel="stylesheet" href="{{ static }}/css/BrickPlus.css?v={{ version }}" id="bp-theme">
<link rel="stylesheet" href="{{ static }}/js/perfect-scrollbar/css/perfect-scrollbar.min.css">
{% endblock %}


{# 加载路径导航 #}
{% import "_BrickPlus_components/breadcrumb.html" as breadcrumb %}


{# 加载系统导航 #}
{% import "_BrickPlus_components/systemNavigator.html" as systemNavigator %}


{# 设置顶部导航产品列表 #}
{%
  set pl = [
    {
      product: '产品名称'
    },
    {
      product: '产品名称'
    },
    {
      product: '产品名称'
    },
    {
      product: '产品名称'
    },
    {
      product: '产品名称'
    },
    {
      product: '产品名称'
    },
    {
      product: '产品名称'
    }
  ]
%}


{# 设置顶部导航典型按钮 #}
{%
  set stnBtns = [
    {
      btn: '后台设置'
    },
    {
      btn: '管理系统'
    }
  ]
%}


{# 设置顶部导航主题列表 #}
{%
  set topNavThemesList = [
    {
      bgColor: '#3dc9ca',
      theme: 'blue'
    },
    {
      bgColor: '#ff8363',
      theme: 'orange'
    },
    {
      bgColor: '#e1e6ef',
      theme: 'gray'
    },
    {
      bgColor: '#b897f3',
      theme: 'purple'
    },
    {
      bgColor: '#89bf64',
      theme: 'green'
    },
    {
      bgColor: '#3d89ca',
      theme: 'navy'
    }
  ]
%}


{# 设置顶部导航用户菜单 #}
{%
  set userMenu = [
    {
      option: 'option one'
    },
    {
      option: 'option two'
    },
    {
      option: 'option three'
    }
  ]
%}


{# 设置侧导航 #}
{%
  set lv1 = [
    {
      text: 'Level 1',
      url: '#',
      iconClass: 'system-setting',
      lv2: [
        {
          text: 'Level 2',
          url: '#'
        },
        {
          text: 'Level 2',
          url: '#'
        }
      ]
    },
    {
      text: 'Level 1',
      url: '#',
      iconClass: 'operative-manage',
      lv2: [
        {
          text: 'Level 2',
          url: '#',
          lv3: [
            {
              text: 'Level 3',
              url: '#'
            },
            {
              text: 'Level 3',
              url: '#'
            }
          ]
        },
        {
          text: 'Level 2',
          url: '#'
        }
      ]
    },
    {
      text: 'Level 1',
      url: '#',
      iconClass: 'account-manage',
      lv2: [
        {
          text: 'Level 2',
          url: '#'
        },
        {
          text: 'Level 2',
          url: '#'
        }
      ]
    },
    {
      text: 'Level 1',
      url: '#',
      iconClass: 'risk-manage',
      lv2: [
        {
          text: 'Level 2',
          url: '#'
        },
        {
          text: 'Level 2',
          url: '#'
        }
      ]
    },
    {
      text: 'Level 1',
      url: '#',
      iconClass: 'system-manage',
      lv2: [
        {
          text: 'Level 2',
          url: '#'
        },
        {
          text: 'Level 2',
          url: '#'
        }
      ]
    }
  ]
%}


{# 设置辅助导航 #}
{%
  set assistNav = [
    {
      text: '辅助导航',
      url: 'javascript:void(0);'
    },
    {
      text: '辅助导航',
      url: 'javascript:void(0);'
    },
    {
      text: '辅助导航',
      url: 'javascript:void(0);'
    },
    {
      text: '辅助导航',
      url: 'javascript:void(0);'
    },
    {
      text: '辅助导航',
      url: 'javascript:void(0);'
    },
    {
      text: '辅助导航',
      url: 'javascript:void(0);'
    },
    {
      text: '辅助导航',
      url: 'javascript:void(0);'
    },
    {
      text: '辅助导航',
      url: 'javascript:void(0);'
    },
    {
      text: '辅助导航',
      url: 'javascript:void(0);'
    },
    {
      text: '辅助导航',
      url: 'javascript:void(0);'
    },
    {
      text: '辅助导航',
      url: 'javascript:void(0);'
    },
    {
      text: '辅助导航',
      url: 'javascript:void(0);'
    },
    {
      text: '辅助导航',
      url: 'javascript:void(0);'
    },
    {
      text: '辅助导航',
      url: 'javascript:void(0);'
    },
    {
      text: '辅助导航',
      url: 'javascript:void(0);'
    },
    {
      text: '辅助导航',
      url: 'javascript:void(0);'
    }
  ]
%}


{# 加载页面 body 设置，例如引用‘类’ #}
{% block bodyClass %}
class="system"
{% endblock %}


{# 公共Dom树 #}
{% block body %}
<div class="main">

  {# 渲染页面导航 #}
  {% block SystemNav %}
  {% endblock %}


  {# 渲染页面主要内容 #}
  <div class="system-container" id="systemContainer" data-toggle="container">
    <div class="system-content-wrap">
      <!-- 系统辅助导航开关 -->
      <a href="javascript:void(0);" class="system-assist-nav-switch" data-toggle="assist-switch"></a>
      <!-- 系统页面内容盒子 -->
      <div class="system-content">
        {# 加载页面内容 #}
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
  {# 返回页面顶部按钮 #}
  <a href="javascript:;void(0)" title="To Top" class="actgotop"><i></i></a>
</div>
{% endblock %}


{# 引用公共 javascript 文件 #}
{% block globalJs %}
<script src="{{ bower_components }}/jquery/dist/jquery.min.js?v={{ version }}"></script>
<script src="{{ static }}/js/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<script src="{{ bower_components }}/brickplus/dist/js/brickPlus.js?v={{ version }}"></script>
<script src="{{ static }}/js/framework.js?v={{ version }}"></script>
{% endblock %}
