@charset "utf-8";

html {
    font-size: 62.5%;
}

html,
body {
    .font-hei();
    height: 100%;
}

body {
    font-size: @fontSize-smaller;
    color: @fontColor-default;
    background-color: @bgColor-primary;
    line-height: @line-height-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga","kern";

    * {
        .border-box();
    }

    // 系统布局结构
    &.system > .main {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: @bgStyle-body-system;
      background-size: 100% 100%;
      overflow: hidden;
    }
}

// ******************
// 取消移动端浏览器下渲染以下元素点击区域的默认有色遮罩
// ******************
a,button,input,textarea,label {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// ******************
// 系统框架容器
// ******************

.system-container {
  position: absolute;
  top: @height-systemTopNav;
  left: @width-systemAside;
  bottom: 0;
  right: 0;
  .transition(all,0.5s,ease,0);
  .clearfix();
  z-index: @zIndex-systemContainer;

  > .system-aside-switch {
    position: absolute;
    top: 0;
    left: -@switchSize-systemAside;
    .square(@switchSize-systemAside);
    background-color: transparent;
    border: none;
    outline: none;

    > span {
      position: absolute;;
      top: 50%;
      right: 50%;
      .square(2px);
      margin-top: -1px;
      margin-right: -1px;
      .transition(all,0.6s,ease,0);
      transition-delay: 0.2s;
      background-color: @switchIconColor-systemAside;

      &::before,
      &::after {
        content: '';
        position: absolute;
        background-color: #fff;
        .square(2px);
        right: 0;
        background-color: @switchIconColor-systemAside;
        .transition(all,0.6s,ease,0);
      }

      &::before {
        top: -200%;
      }

      &::after {
        bottom: -200%;
        transition-delay: 0.4s;
      }
    }

    &:hover > span,
    &:active > span {
      background-color: @switchIconColor-hover-systemAside;

      &::before,
      &::after {
        background-color: @switchIconColor-hover-systemAside;
      }
    }
  }

  &.fold-system-aside {
    left: @width-fold-systemAside;

    > .system-aside-switch {
      left: -(@switchSize-systemAside*2);
      width: @switchSize-systemAside*2;

      > span {
        width: @switchSize-systemAside/2;
        margin-right: -(@switchSize-systemAside/4);

        &::before,
        &::after {
          width: @switchSize-systemAside/2;
        }
      }
    }
  }
}

.system-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: @zIndex-systemContent;
  .transition(all,0.5s,ease,0);
  background-color: #fff;

  &.move {
    margin-left: -@width-systemAssistNav;
  }
}
