@charset "utf-8";

html {
    font-size: 62.5%;
}

html,
body {
    .font-hei();
}

body {
    font-size: @fontSize-smaller;
    color: @fontColor-default;
    background-color: @bgColor-primary;
    line-height: @line-height-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga","kern";

    * {
        .border-box();
    }
}

// ******************
// 取消移动端浏览器下渲染以下元素点击区域的默认有色遮罩
// ******************
a,button,input,textarea,label {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}









