// ******************
// 结果页面提示信息
// ******************
.result-box {
  position: relative;
  .inline-block();

  > .result-icon {
    position: absolute;
    top: 0;
    left: 0;
    .square(@iconWrapSize-resultNotice);
    text-align: center;
    .inline-block();
    .rounded(50%);
    border: 1px solid @borderColor-default;
    display: none;

    &:before {
      font-size: 36px;
      .form-notice-icon-font-family();
      line-height: @iconWrapSize-resultNotice;
    }
  }

  > .result-content {
    padding-left: 20px;
    min-height: @iconWrapSize-resultNotice;
    display: table;
    text-align: left;

    > .result-inner {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.result-wrap {
  text-align: center;
  padding: 50px 0;

  //成功
  &.result-success {

    .result-box {
      padding-left: @iconWrapSize-resultNotice;

      > .result-icon {
        display: block;

        &:before {
          content: @icon-success-resultNotice;
          color: @iconColor-success-resultNotice;
        }
      }

      > .result-content > .result-inner > h1 {
        color: @fontColor-success;
      }
    }
  }

  //等待
  &.result-wait {

    .result-box {
      padding-left: @iconWrapSize-resultNotice;

      > .result-icon {
        display: block;

        &:before {
          content: @icon-wait-resultNotice;
          color: @iconColor-wait-resultNotice;
        }
      }

      > .result-content > .result-inner > h1 {
        color: @fontColor-viceText;
      }
    }
  }

  //失败
  &.result-fail {

    .result-box {
      padding-left: @iconWrapSize-resultNotice;

      > .result-icon {
        display: block;

        &:before {
          content: @icon-fail-resultNotice;
          color: @iconColor-fail-resultNotice;
        }
      }

      > .result-content > .result-inner > h1 {
        color: @topicColor-fail-resultNotice;
      }
    }
  }

  //信息
  &.result-info {

    .result-box {
      padding-left: @iconWrapSize-resultNotice;

      > .result-icon {
        display: block;

        &:before {
          content: @icon-info-resultNotice;
          color: @iconColor-info-resultNotice;
        }
      }

      > .result-content > .result-inner > h1 {
        color: @topicColor-info-resultNotice;
      }
    }
  }

  &.in-modal {
    border: none !important;
    padding: 0;

    .result-box {
      padding-left: 88px;
      min-height: 62px;

      > .result-icon {
        .square(62px);
        background-size: cover;
      }

      > h3 {
        color: @fontColor-heading !important;
        font-size: @fontSize-smaller !important;
        font-weight: 500;
        padding-bottom: 10px;
      }
    }

  }
}

// 弹框按钮
.modalLayer {
  min-width: 322px;
}

.in-modal-btns {
  margin-top: 30px;
}
