// ******************
// 步骤
// ******************
.step-wrap {
  min-height: @line-height-stepTitle*3 + @size-stepIconLv1-Step;

  //步骤图标容器的外框
  .step-box {
    position: relative;
    height: @size-stepIconLv1-Step;
    margin: 0 (@size-stepIconLv1-Step/2);

    //步骤进度条
    .step-bar {
      height: @height-bar-step;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin-top: -(@height-bar-step/2);
      background-color: @borderColor-stepIconBefore-Step;

      &:before {
        height: @bodyHeight-bar-step;
        background-color: lighten(@shadowColor-stepIcon-Step,0%);
        position: absolute;
        top: 50%;
        margin-top: -@bodyHeight-bar-step/2;
        left: 0;
        .rounded(@bodyHeight-bar-step);
        content: '';
      }
    }

    //步骤图标容器
    .the-step {
      position: absolute;
      top: 0;
      .square(@size-stepIconLv1-Step);

      //步骤图标题目
      > p {
        position: absolute;
        bottom: -@line-height-stepTitle*2;
      }

      //步骤图标
      .step {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .rounded(50%);
        text-align: center;
        border: @borderWidth-stepIconAfter-Step solid @borderColor-stepIconBefore-Step;
        background-color: @bgColor-stepIcon-step;

        &:after {
          .border-box();
          .square(@size-stepIconLv2-Step);
          .rounded(50%);
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -(@size-stepIconLv2-Step/2);
          margin-left: -(@size-stepIconLv2-Step/2);
          content: '';
          line-height: @size-stepIconLv2-Step - 2*@borderWidth-stepIconAfter-Step;
          font-size: @size-stepIconLv2-Step*0.4;
        }

        &:before {
          .border-box();
          .square(@size-stepIconLv3-Step);
          .rounded(50%);
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -(@size-stepIconLv3-Step/2);
          margin-left: -(@size-stepIconLv3-Step/2);
          content: '';
        }

        &:hover {
          .step-icon-anim-lv1();
          border-color: @shadowColor-stepIcon-Step;

          &:after {
            .step-icon-anim-lv2();
          }

          &:before {
            .step-icon-anim-lv3();
          }
        }
      }
    }
  }
}

//三步
//定义三步的排版
.step-wrap.three-steps .step-box {

  //初始step
  .the-step {
    left: -(@size-stepIconLv1-Step/2);

    > p {
      width: @width-stepTitle;
      left: 0;
    }

    .step:after {
      content: '1';
    }

    //第二个step
    & + .the-step {
      left: 50%;
      margin-left: -(@size-stepIconLv1-Step/2);

      > p {
        left: 50%;
        margin-left: -@width-stepTitle/2;
        text-align: center;
      }

      .step:after {
        content: '2';
      }
    }

    //第三个step
    & + .the-step + .the-step {
      right: -(@size-stepIconLv1-Step/2);
      left: auto;

      > p {
        right: 0;
        left: auto;
        text-align: right;
      }

      .step:after {
        content: '3';
      }
    }
  }
}

//定义三步的流程样式
.step-wrap.three-steps.pass1 {

  .step-box {

    .step-bar:before {
      width: 25%;
    }

    .the-step {

      //初始step
      .step {
        .step-icon-current();
      }

      //之后的step
      & + .the-step {

        .step {
          .step-icon-not-current();
        }
      }
    }
  }
}

.step-wrap.three-steps.pass2 {

  .step-box {

    .step-bar:before {
      width: 75%;
    }

    .the-step {

      //初始step
      .step {
        .step-icon-current();
      }

      //最后的step
      & + .the-step + .the-step {

        .step {
          .step-icon-not-current();
        }
      }
    }
  }
}

.step-wrap.three-steps.pass3 {

  .step-box {

    .step-bar:before {
      width: 100%;
    }

    .the-step {

      //全部step
      .step {
        .step-icon-current();
      }
    }
  }
}

//四步
//定义四步的排版
.step-wrap.four-steps {

  .step-box {

    //初始step
    .the-step {
      left: -(@size-stepIconLv1-Step/2);

      > p {
        width: @width-stepTitle;
        left: 0;
      }

      .step:after {
        content: '1';
      }

      //第二个step
      & + .the-step {
        left: 33.33%;
        margin-left: -(@size-stepIconLv1-Step/2);

        > p {
          left: 50%;
          margin-left: -@width-stepTitle/2;
          text-align: center;
        }

        .step:after {
          content: '2';
        }
      }

      //第三个step
      & + .the-step + .the-step {
        left: 66.66%;

        .step:after {
          content: '3';
        }
      }

      //最后一个step
      & + .the-step + .the-step + .the-step {
        right: -(@size-stepIconLv1-Step/2);
        left: auto;

        > p {
          right: 0;
          left: auto;
          text-align: right;
        }

        .step:after {
          content: '4';
        }
      }
    }
  }
}

.step-wrap.four-steps.pass1 {

  .step-box {

    .step-bar:before {
      width: 33.33%/2;
    }

    .the-step {

      //初始step
      .step {
        .step-icon-current();
      }

      //之后的step
      & + .the-step {

        .step {
          .step-icon-not-current();
        }
      }
    }
  }
}

.step-wrap.four-steps.pass2 {

  .step-box {

    .step-bar:before {
      width: 50%;
    }

    .the-step {

      //初始step的样式
      .step {
        .step-icon-current();
      }

      //从第三个step开始是以下的样式...
      & + .the-step + .the-step {

        .step {
          .step-icon-not-current();
        }
      }
    }
  }
}

.step-wrap.four-steps.pass3 {

   .step-box {

     .step-bar:before {
       width: 33.33%+ 50%;
     }

     .the-step {

       //初始step的样式
       .step {
         .step-icon-current();
       }

       //从第四个step开始是以下的样式...
       & + .the-step + .the-step + .the-step {

         .step {
           .step-icon-not-current();
         }
       }
     }
   }
 }

.step-wrap.four-steps.pass4 {

  .step-box {

    .step-bar:before {
      width: 100%;
    }

    .the-step {

      //全部step的样式
      .step {
        .step-icon-current();
      }
    }
  }
}

//步骤组件mixin
//步骤current效果
.step-icon-current() {
  .outer-shadow-custom(0, 0, 0, 8px, lighten(@shadowColor-stepIcon-Step, 25%));
  color: darken(@shadowColor-stepIcon-Step,20%);
  border-color: @shadowColor-stepIcon-Step;

  &:after {
    .outer-shadow-custom(0, 0, 0, 8px, lighten(@shadowColor-stepIcon-Step, 35%));
  }
}

.step-icon-not-current() {
  box-shadow: none;
  border-color: @borderColor-stepIconBefore-Step;
  color: @fontColor-default;

  &:after {
    box-shadow: none;
  }
}

//步骤鼠标动画动作流程
.step-icon-anim-lv1() {
  .animation-s(stepIconhoverlv1,0.3s,linear,0,1,normal,running,both);
}

.step-icon-anim-lv2() {
  .animation-s(stepIconhoverlv2,0.3s,linear,0.3s,1,normal,running,both);
}

.step-icon-anim-lv3() {
  .animation-s(stepIconhoverlv3,0.35s,ease-out,0.1s,1,normal,running,both);
}

//步骤鼠标动画
& {
  .keyframes( stepIconhoverlv1 );

  .-frames(@-...) {
    0% {
      @{-}box-shadow: 0 0 0 0 lighten(@shadowColor-stepIcon-Step,45%);
    }
    60% {
      @{-}box-shadow: 0 0 0 15px lighten(@shadowColor-stepIcon-Step,35%);
    }
    100% {
      @{-}box-shadow: 0 0 0 8px lighten(@shadowColor-stepIcon-Step,25%);
    }
  }
}

& {
  .keyframes( stepIconhoverlv2 );

  .-frames(@-...) {
    0% {
      @{-}box-shadow: 0 0 0 0 lighten(@shadowColor-stepIcon-Step,45%);
    }
    60% {
      @{-}box-shadow: 0 0 0 15px lighten(@shadowColor-stepIcon-Step,35%);
    }
    100% {
      @{-}box-shadow: 0 0 0 8px lighten(@shadowColor-stepIcon-Step,35%);
    }
  }
}

& {
  .keyframes( stepIconhoverlv3 );

  .-frames(@-...) {
    0% {
      @{-}box-shadow: 0 0 0 0 lighten(@shadowColor-stepIcon-Step,25%);
    }
    100% {
      @{-}box-shadow: 0 0 0px 25px lighten(@shadowColor-stepIcon-Step,45%);
      @{-}opacity: 0;
      display: none;
    }
  }
}
