// ******************
// 开关
// ******************

//开关
  //图标
  @icon-off-switch: "\e070";
  @icon-on-switch: '\e28a';
  //尺寸
    //默认
    @fontSize-switch: @fontSize-smallest;
    @gapSize-default-switch: 2px;
    @height-default-switch: @height-smaller-btn;
  //色调
  @bgColor-off-switch: darken(@bgColor-disabled-btn,5%);
  @bgColor-on-switch: @domColor2;
  @bgColor-disabled-switch: @bgColor-disabled-btn;
  @bgColor-btn-switch: #fff;
  @fontColor-off-switch: lighten(@fontColor-viceText,20%);

.switch {
  .inline-block();
  vertical-align: middle;
  position: relative;
  height: @height-default-switch;
  width: @height-default-switch*2;
  .rounded(@height-default-switch);
  background-color: @bgColor-off-switch;
  cursor: pointer;
  .inner-shadow-custom(0,0,3px,0,rgba(0,0,0,0.075));
  .transition(all,0.3s,ease,0);

  &-inner {
    position: absolute;
    top: @gapSize-default-switch;
    left: @gapSize-default-switch;
    right: @gapSize-default-switch;
    bottom: @gapSize-default-switch;
    .rounded(@height-default-switch - @gapSize-default-switch);
    text-align: right;
    line-height: @height-default-switch - @gapSize-default-switch;
    padding-right: @gapSize-default-switch*2;
    font-size: @fontSize-switch;
    color: @fontColor-off-switch;


    &:before {
      content: '';
      .rounded(50%);
      .square(@height-default-switch - @gapSize-default-switch);
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -(@height-default-switch - @gapSize-default-switch)/2;
      background-color: @bgColor-btn-switch;
      .outer-shadow-custom(0,2px,4px,0,rgba(0,0,0,0.15));
      .transition(all,0.3s,ease,0);
    }
  }

  //开关文字
  &.with-text {

    .switch-inner:after {
      content: '关';
    }
  }

  //开关图标
  &.with-icon {

    .switch-inner:after {
      .icon-font-family();
      content: @icon-off-switch;
    }
  }

  &.checked {
    background-color: @bgColor-on-switch;

    .switch-inner {
      .outer-shadow-custom(0,0,6px,3px,rgba(93,211,150,0.6));
      text-align: left;
      padding-left: @gapSize-default-switch*2;
      color: lighten(@bgColor-on-switch,100%);

      &:before {
        left: @height-default-switch - @gapSize-default-switch;
        .outer-shadow-custom(0,2px,3px,1px);
      }
    }
  }

  //打开开关后文字改变
  &.checked.with-text {

    .switch-inner:after {
      content: '开';
    }
  }

  //打开开关后图标改变
  &.checked.with-icon {

    .switch-inner:after {
      content: @icon-on-switch;
    }
  }

  //不可用状态
  &.disabled {
    background-color: @bgColor-disabled-switch;
    cursor: not-allowed;

    .switch-inner {
      color: lighten(@bgColor-on-switch,100%);

      &:before {
        .inner-shadow-custom(0,0,3px,0,rgba(0,0,0,0.075));
        background-color: darken(@bgColor-disabled-switch,1%);
      }
    }
  }
}
