{# page: 倒计时 #}
<section class="example-wrap">
    <ul class="example-description">
      <li>
        <code>BrickPlus.Uitl.clockTick</code>提供简单的倒计时函数，返回距离结束时间的时分秒，当返回-1表示时间停止
      </li>
    </ul>
    <div class="example">
      <div class="example-tag">参数说明</div>
      <div class="example-box">
        <div class="table-wrap">
          <table class="table">
            <thead>
              <tr>
                <th>属性</th>
                <th>说明</th>
                <th>类型</th>
                <th>默认值</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>target</td>
                <td>必填，结束时间时间戳</td>
                <td>Number</td>
                <td>必填</td>
              </tr>
              <tr>
                <td>callback</td>
                <td>每秒回调函数,返回参数有四个<code>(d, h, m, s)</code>，分别是<code>天</code><code>时</code><code>分</code><code>秒</code>。当第一个参数等于<code>-1</code>的时候说明时间已经结束</td>
                <td>Function</td>
                <td>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <div class="example">
      <div class="example-tag">实例</div>
      <div class="example-box">
        <div id="clock" class="fn-mb-15"></div>
        <div class="plural-btns">
          <button type="button" class="btn default" id="clock-tick-start-btn">爆米花手机抢购开始</button>
        </div>
      </div>
      <div class="example-code">
        <pre>
          <code>
// ----------
//  倒计时
var clockTick = BrickPlus.Util.clockTick;
$(document).on('click', '#clock-tick-start-btn', function() {
  var that = $(this), target = new Date().getTime() +  60 * 1000;
  that.prop('disabled', true)
  clockTick(target, function(d, h, m, s) {
    if(d === -1) {
      //alert('抱歉爆米花手机已被抢光！');
      that.prop('disabled', false);
      $('#clock').html('点击按钮重新下一轮排队');
    } else {
      $('#clock').html(d+'天'+ h + '小时' + m + '分'+ s + '秒');
    }
  })
})
          </code>
        </pre>
      </div>
    </div>
  </section>
